<div class="notification w-25 top  right">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="alert alert-success alert-dismissible shadow-sm">
          <h5 class="alert-heading"><strong>Creado con exito!</strong></h5>
          <p>Servicio de poligrafia creado exitosamente</p>
          <button type="button" class="close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="alert alert-success alert-dismissible shadow-sm">
          <h5 class="alert-heading"><strong>Creado con exito!</strong></h5>
          <p>Servicio de poligrafia creado exitosamente</p>
          <button type="button" class="close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
