.notification {
  position: fixed;
  z-index: 1030;
}

.right {
  right: 36px;
}

.top {
  top: 36px;
}

.top-1 {
  top: 100px;
}

.top-2 {
  top: 200px;
}

.top-3 {
  top: 300px;
}

.top-4 {
  top: 400px;
}

.top-5 {
  top: 500px;
}


