<div class="container-fluid mt-3">

  <div class="col-md-6 mx-auto" *ngIf="showError">
    <div class="alert alert-danger" role="alert">
      No existen registros.
    </div>
  </div>

  <div class="card mb-3" *ngIf="!showError">

    <div class="card-header">
      <i class="fas fa-table"></i>
      Servicios creados
    </div>

    <div class="card-body">
      <div class="table-responsive">
        <!-- TABLE OF ESP_SERVICES -->
        <div class="form-group mt-2 text-right">
          <div class="input-group input-group-sm col-sm-6 offset-sm-6">
            <div class="input-group-prepend">
              <span class="input-group-text">Filtrar por</span>
            </div>
            <select name="opciones" id="options" class="form-control text-capitalize" #filtro>
              <option *ngFor="let e of options" [value]="e.value">{{ e.title }}</option>
            </select>

            <input type="text" class="form-control" placeholder="Busqueda" (keydown.enter)="filtrarServicios(filtro.value, busqueda.value)" #busqueda>

            <button type="button" (click)="filtrarServicios(filtro.value, busqueda.value)" class="btn btn-success btn-sm"><i class="fa fa-check"></i> Buscar</button>&nbsp;
          </div>
        </div>
        <table class="table table-bordered table-hover table-sm">
            <thead>
              <tr class="text-capitalize">
                <th *ngIf="permissions.ADG" class="text-capitalize">eliminar</th>
                <th class="text-capitalize">centro de costo</th>
                <th class="text-capitalize">fecha creacion</th>
                <th class="text-capitalize">ciudad</th>
                <th class="text-capitalize">solicitante</th>
                <th class="text-capitalize">servicio Solicitado</th>
                <th class="text-capitalize">adjunto</th>
                <th class="text-capitalize">informe</th>
                <th class="text-capitalize">estado</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of data">
              <td *ngIf="permissions.ADG"><button (click)="deleteEsp(item.id)" class="btn btn-danger"><i class="fa fa-trash"></i></button></td>
              <td> {{ item.centroCosto }} </td>
              <td> {{ item.timestamp.fechaCreacion }} </td>
              <td> {{ item.ciudadDesarrollo }} </td>
              <td> {{ item.centroCosto.solicitante }} </td>
              <td>
                <div *ngIf="item.clase === 'esp'" >
                  <div class="form-group text-center">
                    <button class="btn btn-success text-center" (click)="onShowModal(item)">
                      <i class="fa fa-eye"></i>
                      &nbsp;
                      <span>ESP</span>
                    </button>
                  </div>
                </div>
                <div *ngIf="item.clase === 'inv'" >
                  <div class="form-group text-center">
                      <div *ngIf="permissions.DOPE || permissions.ADG" >
                          <button class="btn btn-link" routerLink="../../investigacion">
                            INVESTIGACION
                          </button>
                      </div>
                      <div *ngIf="permissions.CLI">
                          INVESTIGACION
                      </div>
                  </div>
                </div>
              </td>
              <td>
                <div class="form-group text-center" *ngIf="item.anexo">
                  <a [href]="url + item.anexo" class="btn btn-primary">
                    <i class="fa fa-file"></i>
                  </a>
                </div>
              </td>
              <td>
                  <div class="form-group text-center" *ngIf="item.informe">
                      <a [href]="url + item.informe" class="btn btn-primary">
                        <i class="fa fa-file"></i>
                      </a>
                    </div>
              </td>
              <!--<td>
                <button *ngIf="item.estado == 'completado' && (permissions.AESP || permissions.ADG)"
                  (click)="notificarDirectorOperacion(item)" class="btn btn-success btn-sm">
                  <i class="fa fa-lightbulb"></i>
                </button>
                <button *ngIf="item.estado == 'notificado' && permissions.DOPE"
                        (click)="notificarClienteAndFacturacion(item)" class="btn btn-danger btn-sm">
                  <i class="fa fa-lightbulb"></i>
                </button>
              </td>-->
              <td>
                  <div [ngSwitch]="item.estado">
                    <div *ngSwitchCase="'proceso'">
                      <span class="badge badge badge-warning"> {{ item.estado }} </span>
                    </div>
                    <div *ngSwitchCase="'completado'">
                      <span class="badge badge badge-warning"> {{ item.estado }} </span>
                    </div>
                    <div *ngSwitchCase="'alerta'">
                      <span class="badge badge badge-danger"> {{ item.estado }} </span>
                    </div>
                    <div *ngSwitchCase="'finalizado'">
                      <span class="badge badge badge-success"> {{ item.estado }} </span>
                    </div>
                  </div>
                </td>
            </tr>
            </tbody>
      </table>

      </div>
    </div>
    <div class="card-footer small text-muted"></div>
  </div>
</div>

<!-- Modal -->

<div class="modal-backdrop fade" [ngClass]="{'show': toggle, 'd-none': !toggle}"></div>

<div  class="modal fade modal-container" [ngClass]="{'show d-block': toggle, 'd-none': !toggle}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalVerticalLabel">Actividades Aplicadas</h5>
        <button type="button" class="close" (click)="onCloseModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="list-group">
          <li class="list-group-item">
            <div class="row">
              <div class="col-sm-6">
                <span>Actividad</span>
              </div>
              <div class="col-sm-6 text-right">
                <span>Estado</span>
              </div>
            </div>
          </li>
          <li class="list-group-item" *ngFor="let actividad of actividades">
            <div class="row">
              <div class="col-sm-6">
                <ng-template  [ngxPermissionsOnly]="['ADG', 'AESP', 'FRCE', 'DOPE']">
                  <a  class="link" (click)="loadActividades(actividad)">
                    {{ actividad.nombre }}
                  </a>
                </ng-template>
                <ng-template ngxPermissionsOnly="CLI">
                  <a >
                    {{ actividad.nombre }}
                  </a>
                </ng-template>
              </div>
              <div class="col-sm-6 text-right">
                <div [ngSwitch]="actividad.estado">
                  <div *ngSwitchCase="'cargado'">
                    <span class="badge badge-pill service-loaded"> {{ actividad.estado }} </span>
                  </div>
                  <div *ngSwitchCase="'asignado'">
                    <span class="badge badge-pill service-asigned"> {{ actividad.estado }} </span>
                  </div>
                  <div *ngSwitchCase="'aceptado'">
                    <span class="badge badge-pill service-acepted"> {{ actividad.estado }} </span>
                  </div>
                  <div *ngSwitchCase="'proceso'">
                    <span class="badge badge-pill service-process"> {{ actividad.estado }} </span>
                  </div>
                  <div *ngSwitchCase="'notificado'">
                    <div *ngIf="permissions.CLI">
                        <span class="badge badge-pill service-process"> {{ actividad.estado }} </span>
                    </div>
                    <div *ngIf="!permissions.CLI">
                        <span class="badge badge-pill  badge-danger"> {{ actividad.estado }} </span>
                    </div>
                  </div>
                  <div *ngSwitchCase="'completado'">
                    <span class="badge badge-pill service-finished"> {{ actividad.estado }} </span>
                  </div>
                  <div *ngSwitchCase="'alerta'">
                    <span class="badge badge-pill  badge-danger"> {{ actividad.estado }} </span>
                  </div>

                  <div *ngSwitchCase="'finalizado'">
                    <span class="badge badge-pill  badge-success"> {{ actividad.estado }} </span>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="onCloseModal()">Cerrar</button>
      </div>
    </div>
  </div>
</div>
