<div class="col-md-11 mx-auto m-4">
  <div class="card border-0">
    <div class="card-header bg-white">
      <i class="fa fa-calendar"></i>
      Programación
    </div>
    <div class="card-body">
      <form [formGroup]="form" *ngIf="!isLoadData">
        <div class="form-group row">
          <label for="fecha" class="col-form-label col-md-3">
            Fecha de visita
          </label>
          <input type="date" class="form-control col-md-9" id="fecha" formControlName="fecha">
        </div>
        <div class="form-group row">
          <label for="hora" class="col-form-label col-md-3">
            Hora de visita
          </label>
          <input type="time" class="form-control col-md-9" id="hora" formControlName="hora">
        </div>
      </form>
      <fieldset *ngIf="isLoadData" disabled>
        <div class="form-group row">
          <label class="col-form-label col-md-3">
            Fecha de visita
          </label>
          <input type="date" class="form-control col-md-9" [(ngModel)]="data.fecha">
        </div>
        <div class="form-group row">
          <label class="col-form-label col-md-3">
            Hora de visita
          </label>
          <input type="time" class="form-control col-md-9" [(ngModel)]="data.hora">
        </div>
        <div class="form-group row" *ngIf="data.motivo">
          <label class="col-form-label col-md-3">
            Motivo de visita
          </label>
          <input type="time" class="form-control col-md-9" [(ngModel)]="data.motivo">
        </div>
      </fieldset>
    </div>
    <div class="card-footer bg-white">
      <button *ngIf="!isLoadData" class="btn btn-outline-primary mr-2"
              (click)="programar()">Programar visita
      </button>
      <button *ngIf="isLoadData" class="btn btn-outline-secondary"
              (click)="open(mdReprog)">Reprogramar visita
      </button>
    </div>
  </div>
</div>

<ng-template #mdReprog let-modal>
  <div class="modal-header">
    <h3 class="card-title">Reprogramar</h3>
  </div>
  <div class="modal-body">
    <form [formGroup]="form">
      <div class="form-group">
        <label for="repFecha">Fecha</label>
        <input type="date" id="repFecha" class="form-control" formControlName="fecha">
      </div>
      <div class="form-group">
        <label for="repHora">Hora</label>
        <input type="time" id="repHora" class="form-control" formControlName="hora">
      </div>
      <div class="form-group">
        <label for="motivo">Motivo</label>
        <textarea id="motivo" rows="4" class="form-control" placeholder="Escriba el motivo de reprogramacion" formControlName="motivo"></textarea>
      </div>
    </form>
  </div>
  <div class="card-footer">
    <button type="button" class="btn btn-outline-dark"
            (click)="close(modal)">Save</button>
  </div>
</ng-template>
