<div class="container-fluid mt-3">
  <div class="card mb-3">
    <div class="card-header">
      <i class="fas fa-table"></i>
      Control de gestión
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <div class="form-group mt-2 text-right">
          <div class="input-group input-group-sm col-sm-6 offset-sm-6">
            <div class="input-group-prepend">
              <span class="input-group-text">Filtrar por fecha</span>
            </div>
            <input type="date" class="form-control" #date1>
            <input type="date" class="form-control" #date2>
            <button type="button" (click)="filtrarServicios('date', {date: [date1.value, date2.value]})" class="btn btn-success btn-sm"><i class="fa fa-check"></i> Filtrar</button>&nbsp;
            <button type="button" (click)="reiniciar()" class="btn btn-danger btn-sm">
              <i class="fa fa-check"></i>
              Reiniciar
            </button>
          </div>
        </div>

        <div class="form-group mt-2 text-right">
          <div class="input-group input-group-sm col-sm-6 offset-sm-6">
            <div class="input-group-prepend">
              <span class="input-group-text">Filtrar por</span>
            </div>
            <select name="opciones" id="options" class="form-control text-capitalize" #$filtro>
              <option *ngFor="let e of filtro" [value]="e.value">{{ e.title }}</option>
            </select>

            <input type="text" class="form-control" placeholder="Busqueda" (keydown.enter)="filtrarServicios($filtro.value, busqueda.value)" #busqueda>

            <button type="button" (click)="filtrarServicios($filtro.value, busqueda.value)" class="btn btn-success btn-sm"><i class="fa fa-check"></i> Buscar</button>&nbsp;
            <button type="button" (click)="reiniciar()" class="btn btn-danger btn-sm"><i class="fa fa-check"></i> Reiniciar</button>&nbsp;

          </div>
        </div>

        <!-- TABLE OF SERVICES -->
        <app-freelance *ngIf="permissions.FRCE" (mostrarVentana)="abrirVentana($event)"></app-freelance>

        <!-- only copy not cut-->
        <table *ngIf="permissions.CLI || permissions.AESP || permissions.DOPE"
          class="table table-bordered table-hover table-sm">
            <thead>
              <tr class="text-capitalize">
                <th>centro de costo</th>
                <th>fecha creación</th>
                <th>ciudad</th>
                <th>solicitante</th>
                <th>Servicio solicitado</th>
                <th>anexo</th>
                <th>informe</th>
                <th>estado</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of servicios">
                <td> {{ item.centroCosto.id }} </td>
                <td> {{ item.fechaCreacion }} </td>
                <td> {{ item.ciudad }} </td>
                <td> {{ item.centroCosto.solicitante }} </td>
                <td>
                  <div *ngIf="item.tipoServicio === 'esp'" >
                    <div class="form-group text-center">
                      <button class="btn btn-info text-center" (click)="abrirVentana(item)">
                        <i class="fa fa-eye"></i>
                        ESP
                      </button>
                    </div>
                  </div>
                  <div *ngIf="item.tipoServicio === 'inv'" >
                    <div class="form-group text-center">
                        <div *ngIf="permissions.DOPE || permissions.ADG" >
                            <button class="btn btn-link" routerLink="../../investigacion">
                              INVESTIGACION
                            </button>
                        </div>
                        <div *ngIf="permissions.CLI">
                          <div class="form-group text-center">
                            INVESTIGACION
                          </div>
                        </div>
                    </div>
                  </div>
                  <div *ngIf="item.tipoServicio === 'pol'" >
                    <div class="form-group text-center">
                      <button class="btn btn-info text-center" (click)="abrirVentana(item)">
                        <i class="fa fa-eye"></i>
                        POLIGRAFIA
                      </button>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="form-group text-center" *ngIf="item.anexo">
                    <a [href]="url + item.anexo" class="btn btn-primary">
                      <i class="fa fa-download"></i>
                      Descargar
                    </a>
                  </div>
                </td>
                <td>
                    <div class="form-group text-center" *ngIf="item.informe">
                      <a [href]="url + item.informe" class="btn btn-primary">
                        <i class="fa fa-file"></i>
                      </a>
                    </div>
                </td>

                <td>
                  <div *ngIf="item.tipoServicio == 'pol' || item.tipoServicio == 'inv'">
                    <div [ngSwitch]="item.estado">
                      <div *ngSwitchCase="'proceso'">
                        <span class="badge badge badge-warning"> {{ item.estado }} </span>
                      </div>
                      <div *ngSwitchCase="'completado'">
                        <span class="badge badge badge-warning"> {{ item.estado }} </span>
                      </div>
                      <div *ngSwitchCase="'alerta'">
                        <a class="badge badge badge-danger tooltips" href="#">
                          {{ item.estado }}
                          <span> Comunicarse con Tss </span>
                        </a>
                      </div>
                      <div *ngSwitchCase="'finalizado'">
                        <span class="badge badge badge-success"> {{ item.estado }} </span>
                      </div>
                    </div>
                  </div>
                  <div *ngIf="item.tipoServicio == 'esp'">
                    <div [ngSwitch]="item.estado">
                      <div *ngSwitchCase="'proceso'">
                        <span (click)="onShowModal(item) " class="pointer badge badge badge-warning">
                          <i class="fa fa-eye"></i>
                          {{ item.estado }}
                        </span>
                      </div>
                      <div *ngSwitchCase="'completado'">
                        <span (click)="onShowModal(item) " class="pointer badge badge badge-warning">
                          <i class="fa fa-eye"></i>
                          {{ item.estado }}
                        </span>
                      </div>
                      <div *ngSwitchCase="'alerta'">
                        <a (click)="onShowModal(item) " class="pointer badge badge badge-danger tooltips" href="#">
                          <i class="fa fa-eye"></i>
                          {{ item.estado }}
                          <span> Comunicarse con Tss </span>
                        </a>
                      </div>
                      <div *ngSwitchCase="'finalizado'">
                        <span (click)="onShowModal(item) " class="pointer badge badge badge-success">
                          <i class="fa fa-eye"></i>
                          {{ item.estado }}
                        </span>
                      </div>
                    </div>
                  </div>

                </td>
            </tr>
            </tbody>
        </table>

  <!--      <table *ngIf="permissions.FRCE"  class="table table-bordered table-hover table-sm">
          <thead>
            <tr class="text-capitalize">
              <th>fecha creación</th>
              <th>ciudad desarrollo</th>
              <th>solicitante</th>
              <th>evaluado</th>
              <th>informe</th>
              <th>aceptacion</th>
              <th>estado</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of servicios">
              <td> {{ item.fechaCreacion }} </td>
              <td> {{ item.ciudad }} </td>
              <td> {{ item.solicitante }}  </td>
              <td>
                <div *ngIf="item.tipoServicio === 'esp'" >
                  <div class="form-group text-center">
                    <button class="btn btn-info text-center" (click)="abrirVentana(item)">
                      <i class="fa fa-eye"></i>
                      {{ item.evaluado }}
                    </button>
                  </div>
                </div>
              </td>
              <td>
                <div class="form-group text-center">
                  <button class="btn btn-primary btn-sm text-center mr-2">
                    <i class="fa fa-check"></i>
                    Si
                  </button>
                  <button class="btn btn-danger btn-sm text-center ml-2">
                    <i class="fa fa-times"></i>
                    No
                    </button>
                </div>
              </td>
              <td><input type="file"></td>
              <td>
                <span class="badge badge-warning">
                  {{ item.estado }}
                </span>
              </td>
            </tr>
          </tbody>
        </table>
->


      </div>
    </div>
    <div class="card-footer small text-muted"></div>
  </div>
</div>

<!-- Modal -->

<div class="modal-backdrop fade" [ngClass]="{'show': toggle, 'd-none': !toggle}"></div>

<div  class="modal fade modal-container" [ngClass]="{'show d-block': toggle, 'd-none': !toggle}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalVerticalLabel">Actividades Aplicadas</h5>
        <button type="button" class="close" (click)="onCloseModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="list-group">
          <li class="list-group-item">
            <div class="row">
              <div class="col-sm-6">
                <span>Actividad</span>
              </div>
              <div class="col-sm-6 text-right">
                <span>Estado</span>
              </div>
            </div>
          </li>
          <li class="list-group-item" *ngFor="let actividad of actividades">
            <div class="row">
              <div class="col-sm-6">
                <ng-template  [ngxPermissionsOnly]="['ADG', 'AESP', 'FRCE', 'DOPE']">
                  <a  class="link" (click)="loadActividades(actividad)">
                    {{ actividad.nombre }}
                  </a>
                </ng-template>
                <ng-template ngxPermissionsOnly="CLI">
                  <a >
                    {{ actividad.nombre }}
                  </a>
                </ng-template>
              </div>
              <div class="col-sm-6 text-right">
                <div [ngSwitch]="actividad.estado">
                  <div *ngSwitchCase="'cargado'">
                    <span class="badge badge-pill service-loaded"> {{ actividad.estado }} </span>
                  </div>
                  <div *ngSwitchCase="'asignado'">
                    <span class="badge badge-pill service-asigned"> {{ actividad.estado }} </span>
                  </div>
                  <div *ngSwitchCase="'aceptado'">
                    <span class="badge badge-pill service-acepted"> {{ actividad.estado }} </span>
                  </div>
                  <div *ngSwitchCase="'proceso'">
                    <span class="badge badge-pill service-process"> {{ actividad.estado }} </span>
                  </div>
                  <div *ngSwitchCase="'notificado'">
                    <div *ngIf="permissions.CLI">
                        <span class="badge badge-pill service-process"> {{ actividad.estado }} </span>
                    </div>
                    <div *ngIf="!permissions.CLI">
                        <span class="badge badge-pill  badge-danger"> {{ actividad.estado }} </span>
                    </div>
                  </div>
                  <div *ngSwitchCase="'completado'">
                    <span class="badge badge-pill service-finished"> {{ actividad.estado }} </span>
                  </div>
                  <div *ngSwitchCase="'alerta'">
                    <span class="badge badge-pill  badge-danger"> {{ actividad.estado }} </span>
                  </div>

                  <div *ngSwitchCase="'finalizado'">
                    <span class="badge badge-pill  badge-success"> {{ actividad.estado }} </span>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="onCloseModal()">Cerrar</button>
      </div>
    </div>
  </div>
</div>


<app-modal *ngIf="detalle" title="Detalle del servicio" size="large">
  <div class="body">
    <div>
      <fieldset disabled>
        <div class="row">
          <div class="col-md-6">
            <!--evaluado-->
            <div class="form-group">
              <label for="m-evaluado">Nombre del evaluado</label>
              <input type="text" id="m-evaluado" class="form-control" [(ngModel)]="detalle.evaluado">
            </div>

            <div class="form-group">
                <label for="m-tipoDocumento">Documento de identidad</label>
                <select class="form-control" [(ngModel)]="detalle.tipoDocumento" id="m-tipoDocumento">
                    <option value="cc">C.C. Cedula</option>
                    <option value="ti">T.I. Tarjeta de identidad</option>
                    <option value="ce">C.E. Cedula de extrangeria</option>
                    <option value="pa">P.A. Pasaporte</option>
                    <option value="pep">P.E.P. Permiso especial de permanencia</option>
                  </select>
              </div>

            <!--documento-->
            <div class="form-group">
              <label for="m-documento">Numero de documento</label>
              <input type="number" class="form-control" id="m-documento"  [(ngModel)]="detalle.documento">
            </div>

            <!--Ciudad desarrollo-->
            <div class="form-group">
              <label for="m-ciudad">Ciudad de desarrollo</label>
              <input type="text" class="form-control" id="m-ciudad"  [(ngModel)]="detalle.ciudad">
            </div>

            <!--telefono-->
            <div class="form-group">
              <label for="m-telefono">Telefono</label>
              <input type="number" class="form-control" id="m-telefono"  [(ngModel)]="detalle.telefono">
            </div>

          </div>
          <div class="col-md-6">
            <!--email-->
            <div class="form-group">
              <label for="m-email">Email</label>
              <input type="email" class="form-control" id="m-email"  [(ngModel)]="detalle.email">
            </div>

            <!--observaciones-->
            <div class="form-group">
              <label for="m-obs">Observaciones</label>
              <textarea
                rows="3"
                class="form-control"
                id="m-obs"
                [(ngModel)]="detalle.observaciones">
              </textarea>
            </div>

            <!-- tipo servicio -->
            <div *ngIf="detalle.tipoServicio == 'esp'">
              <div class="form-group">
                <label>Tipo de ESP</label>
                <div class="d-block">

                    <span class="badge badge-success"> {{ detalle.tipoEsp }}</span>
                  </div>
                </div>
            </div>
            <div *ngIf="detalle.tipoServicio == 'pol'">
              <div class="form-group">
                <label>Tipo de poligrafia</label>
                <div class="d-block">
                  <span class="badge badge-success"> {{ detalle.tipoPoligrafia }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </fieldset>
    </div>
  </div>
  <div class="footer">
    <button class="btn btn-secondary" (click)="cerrarVentana()">
      <i class="fa fa-close"></i>
      Cerrar
    </button>
  </div>
</app-modal>
