<div class="container mt-3">
  <div class="row">
    <div class="col-md-10 mx-auto">
      <div class="card">
        <div class="card-header">
          <h4 class="text-center">Perfil</h4>
        </div>
        <div class="card-body">
          <fieldset [disabled]="true" [formGroup]="form">
            <div class="form-group">
              <label for="nombre">Nombre</label>
              <input formControlName="nombre" type="text" class="form-control" id="nombre" placeholder="Ingrese el nombre completo">
            </div>
            <div class="form-group">
              <label for="direccion">Direccion</label>
              <input formControlName="direccion" type="text" class="form-control" id="direccion" placeholder="Ingrese la direccion de residencia">
            </div>
            <div class="form-group">
              <label for="telefono">Telefono</label>
              <input formControlName="telefono" type="number" class="form-control" id="telefono" placeholder="Ingrese el telefono">
            </div>
            <div class="form-group">
              <label for="celular">Celular</label>
              <input formControlName="celular" type="text" class="form-control" id="celular" placeholder="Ingrese el numero de celular">
            </div>
            <div class="form-group">
              <label for="tipo_documento">tipo de documento</label>
              <select class="form-control" formControlName="tipo_documento" id="tipo_documento">
                <option [selected]="true">Seleccione una opcion</option>
                <option value="cc">C.C. Cedula</option>
                <option value="ti">T.I. Tarjeta de identidad</option>
                <option value="ce">C.E. Cedula de extrangeria</option>
                <option value="pa">P.A. Pasaporte</option>
                <option value="pep">P.E.P. Permiso especial de permanencia</option>
              </select>
            </div>
            <div class="form-group">
              <label for="documento">Documento</label>
              <input formControlName="documento" type="text" class="form-control" id="documento" placeholder="Ingrese el numero de documento de identificación">
            </div>
            <div class="form-group">
              <label for="ciudad">Ciudad</label>
              <input formControlName="ciudad" type="text" class="form-control" id="ciudad" placeholder="Ingrese la ciudad de residencia">
            </div>
            <div class="form-group">
              <label for="rol">Rol</label>
              <input formControlName="rol" type="text" class="form-control">
            </div>
            <div class="form-group">
              <label for="email">Correo electronico</label>
              <input formControlName="email" type="email" class="form-control" id="email" placeholder="Ingrese el correo electronico">
            </div>
          </fieldset>
          <!--<fieldset disabled>

            <div class="form-group">
              <label for="formGroupExampleInput">Nombre / Razon social</label>
              <input type="text" class="form-control" id="formGroupExampleInput">
            </div>
            <div class="form-group">
              <label for="formGroupExampleInput2">Tipo de documento</label>
              <input type="text" class="form-control" id="formGroupExampleInput2">
            </div>
            <div class="form-group">
              <label for="formGroupExampleInput2">Numero de documento</label>
              <input type="text" class="form-control" id="formGroupExampleInput2">
            </div>
            <div class="form-group">
              <label for="formGroupExampleInput2">Direccion</label>
              <input type="text" class="form-control" id="formGroupExampleInput2">
            </div>
            <div class="form-group">
              <label for="formGroupExampleInput2">Telefono</label>
              <input type="text" class="form-control" id="formGroupExampleInput2">
            </div>
            <div class="form-group">
              <label for="formGroupExampleInput2">Celular</label>
              <input type="text" class="form-control" id="formGroupExampleInput2">
            </div>
            <div class="form-group">
              <label for="formGroupExampleInput2">Ciudad</label>
              <input type="text" class="form-control" id="formGroupExampleInput2">
            </div>
            <div class="form-group">
              <label for="formGroupExampleInput2">Email</label>
              <input type="text" class="form-control" id="formGroupExampleInput2">
            </div>
            <div class="form-group">
              <label for="formGroupExampleInput2">Cuanta con un sistema de gestion</label>
              <input type="text" class="form-control" id="formGroupExampleInput2">
            </div>
            <div class="form-group">
              <label for="formGroupExampleInput2">Nombre de representante legal</label>
              <input type="text" class="form-control" id="formGroupExampleInput2">
            </div>
            <div class="form-group">
              <label for="formGroupExampleInput2">Cedula representante legal</label>
              <input type="text" class="form-control" id="formGroupExampleInput2">
            </div>


          </fieldset>-->
        </div>
      </div>
    </div>
  </div>
</div>
