<div class="card mt-4">
  <div class="card-body ">
    <!-- bienes Inmuebles -->
    <div class="form-group row">
      <label class="col-sm-6 col-form-label">
        <b>Patrimonio - Bienes Inmuebles</b>
      </label>
      <div class="col-sm-6">
        <div class="form-group text-right">
          <button (click)="open(mdBienInmueble)" class="btn btn-primary">
            <i class="fa fa-plus"></i> Agregar
          </button>
        </div>
      </div>
      <div class="col-sm-12">
        <hr>
      </div>
      <div class="col-sm-12 mt-2">
        <table class="table table-bordered">
          <thead class="text-capitalize">
          <th>tipo</th>
          <th>dirección</th>
          <th>telefono</th>
          <th>ciudad</th>
          <th>avalúo</th>
          <th>hipoteca</th>
          <th class="acciones">acciones</th>
          </thead>
          <tbody>
          <tr *ngFor="let value of bienesInmuebles">
            <td>{{ value.tipo }}</td>
            <td>{{ value.direccion }}</td>
            <td>{{ value.telefono }}</td>
            <td>{{ value.ciudad }}</td>
            <td>{{ value.avaluo }}</td>
            <td>{{ value.hipoteca === true ? 'Si' : 'No' }}</td>
            <td class="acciones">
              <div class="text-center">
                <button class="btn btn-primary mr-2" (click)="open(mdBienInmueble, value)">
                  <i class="fa fa-edit"></i>
                </button>

                <button class="btn btn-danger ml-2" (click)="delete(value.id)">
                  <i class="fa fa-trash"></i>
                </button>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
        <hr>
      </div>
    </div>

  </div>
</div>


<!-- Modal -->
<ng-template #mdBienInmueble let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Bienes inmuebles</h5>
    <button type="button" class="close" (click)="modal.close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="form">

      <!-- tipo -->
      <div class="form-group row">
        <label class="col-sm-3 col-form-label" for="bi-tipo">Tipo</label>
        <div class="col-sm-9">
          <input type="text" class="form-control"
                 id="bi-tipo"
                 name="tipo"
                 formControlName="tipo"
                 placeholder="Ingrese un dato valido"
                 required>
          <div class="ng-invalid-feedback"
               *ngIf="(form.get('tipo').invalid &&
                     form.get('tipo').dirty)">
            El campo es requerido
          </div>
        </div>
      </div>


      <!-- direccion -->
      <div class="form-group row">
        <label class="col-sm-3 col-form-label" for="bi-direccion">Dirección</label>
        <div class="col-sm-9">
          <input type="text" class="form-control"
                 id="bi-direccion"
                 name="direccion"
                 formControlName="direccion"
                 placeholder="Ingrese una dirección valida"
                 required>
          <div class="ng-invalid-feedback"
               *ngIf="(form.get('direccion').invalid &&
                     form.get('direccion').dirty)">
            El campo es requerido
          </div>
        </div>
      </div>


      <!-- telefono -->
      <div class="form-group row">
        <label class="col-sm-3 col-form-label" for="bi-telefono">Telefono</label>
        <div class="col-sm-9">
          <input type="text" class="form-control"
                 id="bi-telefono"
                 name="telefono"
                 formControlName="telefono"
                 placeholder="Ingrese un telefono valido"
                 required>
          <div class="ng-invalid-feedback"
               *ngIf="(form.get('telefono').invalid &&
                     form.get('telefono').dirty)">
            El campo es requerido
          </div>
        </div>
      </div>

      <!-- ciudad -->
      <div class="form-group row">
        <label class="col-sm-3 col-form-label" for="bi-ciudad">Ciudad</label>
        <div class="col-sm-9">
          <input type="text" class="form-control"
                 id="bi-ciudad"
                 name="ciudad"
                 formControlName="ciudad"
                 placeholder="Ingrese una ciudad valida"
                 required>
          <div class="ng-invalid-feedback"
               *ngIf="(form.get('ciudad').invalid &&
                     form.get('ciudad').dirty)">
            El campo es requerido
          </div>
        </div>
      </div>


      <!-- avaluo -->
      <div class="form-group row">
        <label class="col-sm-3 col-form-label" for="bi-avaluo">Avaluo</label>
        <div class="col-sm-9">
          <input type="number" class="form-control"
                 id="bi-avaluo"
                 name="avaluo"
                 formControlName="avaluo"
                 placeholder="Ingrese una valor valido"
                 required>
          <div class="ng-invalid-feedback"
               *ngIf="(form.get('avaluo').invalid &&
                     form.get('avaluo').dirty)">
            El campo es requerido
          </div>
        </div>
      </div>

      <!-- hipoteca -->
      <div class="form-group row">
        <label class="col-sm-3 col-form-label" for="bi-hipoteca">hipoteca</label>
        <div class="col-sm-9">
          <div class="form-check form-check-inline">
            <input class="form-check-input"
                   type="radio"
                   formControlName="hipoteca"
                   id="bi-hipoteca" [value]="true">
            <label class="form-check-label" for="bi-hipoteca">Si</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input"
                   type="radio"
                   formControlName="hipoteca"
                   id="bi-hipoteca!" [value]="false">
            <label class="form-check-label" for="bi-hipoteca!">No</label>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-secondary" (click)="modal.close()">Cerrar</button>
    <button class="btn btn-warning" [disabled]="form.invalid" (click)="update()" *ngIf="isUpdate">Actualizar</button>
    <button class="btn btn-primary" [disabled]="form.invalid" (click)="add()" *ngIf="!isUpdate">Guardar</button>
  </div>
</ng-template>
