<div class="card mt-3">
  <div class="card-body ">
    <div class="row">
      <div class="col-md-8">
        <b class="card-title">Informacion familiar</b>
      </div>
      <div class="col-md-4 text-right">
        <button (click)="open(mdInfoFamiliar)" class="btn btn-primary">
          <i class="fa fa-plus"></i>
          Agregar
        </button>
      </div>
    </div>
    <div class="form-group"><hr></div>
    <div class="form-group row">
      <div class="col-sm-12">
        <table class="table table-bordered">
          <thead class="text-capitalize">
          <th>nombre</th>
          <th>parentesco</th>
          <th>edad</th>
          <th>ocupacion</th>
          <th>telefono</th>
          <th>ciudad</th>
          <th>Vive con ud</th>
          <th class="acciones">acciones</th>
          </thead>
          <tbody>
          <tr *ngFor="let value of infoFamiliar">
            <td>{{ value.nombre }}</td>
            <td>{{ value.parentesco }}</td>
            <td>{{ value.edad }}</td>
            <td>{{ value.ocupacion}}</td>
            <td>{{ value.telefono}}</td>
            <td>{{ value.ciudad}}</td>
            <td>{{ value.viveConUd === true ? 'Si' : 'No' }}</td>
            <td class="acciones">
              <div class="text-center">
                <button class="btn btn-primary mr-2" (click)="open(mdInfoFamiliar, value)">
                  <i class="fa fa-edit"></i>
                </button>

                <button class="btn btn-danger ml-2" (click)="delete(value.id)">
                  <i class="fa fa-trash"></i>
                </button>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
        <hr>
      </div>
    </div>
  </div>
</div>


<!-- Modal InformacionFamiliar -->
<ng-template #mdInfoFamiliar let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Información familiar</h5>
    <button type="button" class="close" (click)="modal.close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="form">
      <!-- nombre -->
      <div class="form-group row">
        <label class="col-sm-3 col-form-label" for="info-flia-nombre">Nombre</label>
        <div class="col-sm-9">
          <input type="text" class="form-control"
                 id="info-flia-nombre"
                 name="nombre"
                 formControlName="nombre"
                 placeholder="Ingrese un nombre valido"
                 required>
          <div class="ng-invalid-feedback"
               *ngIf="(form.get('nombre').invalid &&
                     form.get('nombre').dirty)">
            El campo es requerido
          </div>
        </div>
      </div>

      <!-- parentesco -->
      <div class="form-group row">
        <label class="col-sm-3 col-form-label" for="info-flia-parentesco">Parentesco</label>
        <div class="col-sm-9">
          <input type="text" class="form-control"
                 id="info-flia-parentesco"
                 name="parentesco"
                 formControlName="parentesco"
                 placeholder="Ingrese un dato valido"
                 required>
          <div class="ng-invalid-feedback"
               *ngIf="(form.get('parentesco').invalid &&
                     form.get('parentesco').dirty)">
            El campo es requerido
          </div>
        </div>
      </div>

      <!-- edad -->
      <div class="form-group row">
        <label class="col-sm-3 col-form-label" for="info-flia-edad">Edad</label>
        <div class="col-sm-9">
          <input type="number" class="form-control"
                 id="info-flia-edad"
                 name="edad"
                 formControlName="edad"
                 placeholder="Ingrese un numero valido"
                 required>
          <div class="ng-invalid-feedback"
               *ngIf="(form.get('edad').invalid &&
                     form.get('edad').dirty)">
            El campo es requerido
          </div>
        </div>
      </div>

      <!-- ocupacion -->
      <div class="form-group row">
        <label class="col-sm-3 col-form-label" for="info-flia-ocupacion">ocupacion</label>
        <div class="col-sm-9">
          <input type="text" class="form-control"
                 id="info-flia-ocupacion"
                 name="edad"
                 formControlName="ocupacion"
                 placeholder="Ingrese un dato valido"
                 required>
          <div class="ng-invalid-feedback"
               *ngIf="(form.get('ocupacion').invalid &&
                     form.get('ocupacion').dirty)">
            El campo es requerido
          </div>
        </div>
      </div>

      <!-- telefono -->
      <div class="form-group row">
        <label class="col-sm-3 col-form-label" for="info-flia-telefono">Telefono</label>
        <div class="col-sm-9">
          <input type="number" class="form-control"
                 id="info-flia-telefono"
                 name="telefono"
                 formControlName="telefono"
                 placeholder="Ingrese un telefono valido"
                 required>
          <div class="ng-invalid-feedback"
               *ngIf="(form.get('telefono').invalid &&
                     form.get('telefono').dirty)">
            El campo es requerido
          </div>
        </div>
      </div>

      <!-- ciudad -->
      <div class="form-group row">
        <label class="col-sm-3 col-form-label" for="info-flia-ciudad">Ciudad</label>
        <div class="col-sm-9">
          <input type="text" class="form-control"
                 id="info-flia-ciudad"
                 name="edad"
                 formControlName="ciudad"
                 placeholder="Ingrese una ciudad valida"
                 required>
          <div class="ng-invalid-feedback"
               *ngIf="(form.get('ciudad').invalid &&
                     form.get('ciudad').dirty)">
            El campo es requerido
          </div>
        </div>
      </div>

      <!-- Vive con ud -->
      <div class="form-group row">
        <label class="col-sm-3 col-form-label" for="viveConUd">Vive con ud</label>
        <div class="col-sm-9">
          <div class="form-check form-check-inline">
            <input class="form-check-input"
                   type="radio"
                   formControlName="viveConUd"
                   id="viveConUd" [value]="true">
            <label class="form-check-label" for="viveConUd">Si</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input"
                   type="radio"
                   formControlName="viveConUd"
                   id="viveConUd!" [value]="false">
            <label class="form-check-label" for="viveConUd!">No</label>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-warning"
            *ngIf="isUpdate"
            [disabled]="form.invalid"
            (click)="update()">
      Actualizar
    </button>
    <button class="btn btn-primary"
            *ngIf="!isUpdate"
            [disabled]="form.invalid"
            (click)="add()">
      Guardar
    </button>
    <button class="btn btn-secondary"
            (click)="modal.close()">
      Cerrar
    </button>
  </div>
</ng-template>
