<div id="content-wrapper">
<div class="container mt-3">
  <div class="row">
    <div class="col-md-10 mx-auto">
      <div class="card">
        <div class="card-header">
          <h4 class="text-center">Orden de servicio</h4>
        </div>
        <div class="card-body" [formGroup]="form">
          <div>
            <div class="form-group row">
              <label for="cliente" class="col-sm-2 col-form-label">Cliente</label>
              <div class="col-sm-10">
                <select name="cliente"
                        id="cliente"
                        class="form-control"
                        formControlName="cliente">
                  <option value="">Seleccione una opcion</option>
                  <option *ngFor="let cliente of clientes" [value]="cliente.id">{{cliente.nombre}}</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label for="contacto" class="col-sm-2 col-form-label">
                Nombre de contacto
              </label>
              <div class="col-sm-10">
                <input type="text" id="contacto" placeholder="Ingrese el contacto" class="form-control">
              </div>
            </div>
            <div class="form-group row">
              <label for="contacto-mail" class="col-sm-2 col-form-label">
                Correo electronico de contacto
              </label>
              <div class="col-sm-10">
                <input type="text" id="contacto-mail" placeholder="Ingrese el correo del contacto" class="form-control">
              </div>
            </div>

            <!--<div class="form-group row">
              <label class="col-sm-2 col-form-label">Facturar a</label>
              <div class="col-sm-10">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio"
                         [value]="true"
                         id="facturar-true"
                         name="facturar"
                         formControlName="facturar">
                  <label class="form-check-label" for="facturar-true"></label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio"
                         [value]="false"
                         id="facturar-false"
                         name="facturar" [checked]="true"
                         formControlName="facturar">
                  <label class="form-check-label" for="facturar-false">No</label>
                </div>
              </div>
            </div>-->
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Orden de compra</label>
              <div class="col-sm-10">
                <div class="form-check form-check-inline"
                     (click)="onChageOrdenCompra('yes')">
                  <input class="form-check-input" type="radio"
                         [value]="true"
                         id="orden-si"
                         name="ordenCompra"
                         formControlName="ordenCompra">
                  <label class="form-check-label" for="orden-si">Si</label>
                </div>
                <div class="form-check form-check-inline"
                     (click)="onChageOrdenCompra('no')">
                  <input class="form-check-input" type="radio"
                         [value]="false"
                         id="orden-no"
                         name="ordenCompra" [checked]="true"
                         formControlName="ordenCompra">
                  <label class="form-check-label" for="orden-no">No</label>
                </div>
              </div>
            </div>
            <div *ngIf="isOrdenCompra">
              <div class="form-group row">
                <label for="num-orden-compra" class="col-sm-2 col-form-label">Numero de la orden de compra</label>
                <div class="col-sm-10">
                  <input type="text"
                         class="form-control"
                         id="num-orden-compra"
                         placeholder="Ingrese el numero de la orden de compra"
                         formControlName="numeroOrden">
                </div>
              </div>
              <div class="form-group row">
                <label for="anexo" class="col-sm-2 col-form-label">Anexo</label>
                <div class="col-sm-10">
                  <input type="file" class="form-control-file"
                         id="anexo"
                         formControlName="anexo">
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-4 mx-auto">
                <button [disabled]="form.invalid" (click)="onSolicitarServicio()"
                  class="btn btn-primary btn-block">
                  Solicitar
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
