<div class="mx-auto animated fade-in">
  <form [formGroup]="form">
    <div class="card">
      <div class="card-header bg-white">
        <h4>Informacion familiar y referencias</h4>
      </div>
      <div class="card-body bg-light">
        <div class="card">
          <!-- Informacion personal card-->
          <div class="card-body ">
            <b class="card-title">Información personal</b>
            <hr>
            <!-- nombre evaluado -->
            <div class="form-group row">
              <label class="col-sm-4 col-form-label" for="nombre">Nombre del conyuge</label>
              <div class="col-sm-8">
                <input type="text" class="form-control"
                       id="nombre"
                       name="nombre"
                       formControlName="nombre"
                       placeholder="Ingrese el nombre de conyuge"
                       required>
                <div class="ng-invalid-feedback"
                     *ngIf="(form.controls['nombre'].invalid &&
                     form.controls['nombre'].dirty)">
                  El campo es requerido
                </div>
              </div>
            </div>


            <!-- edad -->
            <div class="form-group row">
              <label class="col-sm-4 col-form-label" for="edad">Edad</label>
              <div class="col-sm-8">
                <input type="number" class="form-control"
                       minlength="0" maxlength="120"
                       id="edad"
                       name="edad"
                       formControlName="edad"
                       placeholder="Ingrese la edad del evaluado"
                       required>
                <div class="ng-invalid-feedback"
                     *ngIf="(form.controls['edad'].invalid &&
                     form.controls['edad'].dirty)">
                  El campo es requerido
                </div>
              </div>
            </div>


            <!-- identificacion evaluado -->
            <div class="form-group row">
              <label class="col-sm-4 col-form-label" for="identificacion">Identificación</label>
              <div class="col-sm-8">
                <input type="number" class="form-control"
                       id="identificacion"
                       name="identificacion"
                       formControlName="identificacion"
                       placeholder="Ingrese la identificacion del evaluado"
                       required>
                <div class="ng-invalid-feedback"
                     *ngIf="(form.controls['identificacion'].invalid &&
                     form.controls['identificacion'].dirty)">
                  El campo es requerido
                </div>
              </div>
            </div>


            <!-- Lugar de Expedición -->
            <div class="form-group row">
              <label class="col-sm-4 col-form-label" for="lugarExpedicion">Lugar de Expedición
              </label>
              <div class="col-sm-8">
                <input type="text" class="form-control"
                       id="lugarExpedicion"
                       name="lugarExpedicion"
                       formControlName="lugarExpedicion"
                       placeholder="Ingrese el lugar de expedición del documento"
                       required>
                <div class="ng-invalid-feedback"
                     *ngIf="(form.controls['lugarExpedicion'].invalid &&
                     form.controls['lugarExpedicion'].dirty)">
                  El campo es requerido
                </div>
              </div>
            </div>


            <!-- Lugar de nacimiento -->
            <div class="form-group row">
              <label class="col-sm-4 col-form-label" for="lugarNacimiento">Lugar de nacimiento
              </label>
              <div class="col-sm-8">
                <input type="text" class="form-control"
                       id="lugarNacimiento"
                       name="lugarNacimiento"
                       formControlName="lugarNacimiento"
                       placeholder="Ingrese el lugar de nacimiento"
                       required>
                <div class="ng-invalid-feedback"
                     *ngIf="(form.controls['lugarNacimiento'].invalid &&
                     form.controls['lugarNacimiento'].dirty)">
                  El campo es requerido
                </div>
              </div>
            </div>


            <!-- fecha de nacimiento -->
            <div class="form-group row">
              <label class="col-sm-4 col-form-label" for="fechaNacimiento">Fecha de Nacimiento
              </label>
              <div class="col-sm-8">
                <input type="date" class="form-control"
                       id="fechaNacimiento"
                       name="fechaNacimiento"
                       formControlName="fechaNacimiento"
                       required>
                <div class="ng-invalid-feedback"
                     *ngIf="(form.controls['fechaNacimiento'].invalid &&
                     form.controls['fechaNacimiento'].dirty)">
                  El campo es requerido
                </div>
              </div>
            </div>



            <!-- ocupacion -->
            <div class="form-group row">
              <label class="col-sm-4 col-form-label" for="ocupacion">Ocupación
              </label>
              <div class="col-sm-8">
                <input type="text" class="form-control"
                       id="ocupacion"
                       name="ocupacion"
                       formControlName="ocupacion"
                       placeholder="Ingrese la ocupacion"
                       required>
                <div class="ng-invalid-feedback"
                     *ngIf="(form.controls['ocupacion'].invalid &&
                     form.controls['ocupacion'].dirty)">
                  El campo es requerido
                </div>
              </div>
            </div>



            <!-- empresa -->
            <div class="form-group row">
              <label class="col-sm-4 col-form-label" for="empresa">Empresa
              </label>
              <div class="col-sm-8">
                <input type="text" class="form-control"
                       id="empresa"
                       name="empresa"
                       formControlName="empresa"
                       placeholder="Ingrese el nombre de la empresa"
                       required>
                <div class="ng-invalid-feedback"
                     *ngIf="(form.controls['empresa'].invalid &&
                     form.controls['empresa'].dirty)">
                  El campo es requerido
                </div>
              </div>
            </div>



            <!-- telefono -->
            <div class="form-group row">
              <label class="col-sm-4 col-form-label" for="telefono">Telefono - Celular
              </label>
              <div class="col-sm-8">
                <input type="number" class="form-control"
                       id="telefono"
                       name="telefono"
                       formControlName="telefono"
                       placeholder="Ingrese el numero de telefono - celular"
                       required>
                <div class="ng-invalid-feedback"
                     *ngIf="(form.controls['telefono'].invalid &&
                     form.controls['telefono'].dirty)">
                  El campo es requerido
                </div>
              </div>
            </div>



            <!-- tiempo Laborado -->
            <div class="form-group row">
              <label class="col-sm-4 col-form-label" for="tiempoLaborado">Tiempo Laborado
              </label>
              <div class="col-sm-8">
                <input type="text" class="form-control"
                       id="tiempoLaborado"
                       name="tiempoLaborado"
                       formControlName="tiempoLaborado"
                       placeholder="Ingrese el tiempo laborado"
                       required>
                <div class="ng-invalid-feedback"
                     *ngIf="(form.controls['tiempoLaborado'].invalid &&
                     form.controls['tiempoLaborado'].dirty)">
                  El campo es requerido
                </div>
              </div>
            </div>




            <!-- fotografia -->
            <div class="form-group row">
              <label class="col-sm-4 col-form-label" for="fotografia">Fotografia
              </label>
              <div class="col-sm-8">

                <div *ngIf="checkFile()">
                  <img [src]="apiUrl + form.get('fotografia').value" class="img-thumb" height="200" alt="photo">
                  <button class="btn btn-danger" (click)="removeFile()">
                    <i class="fa fa-trash"></i>
                    Eliminar
                  </button>
                </div>
                <div *ngIf="checkTypeFile()">

                  <input (change)="setFileToForm($event)" type="file"
                         id="fotografia"
                         name="fotografia"
                         required>
                </div>


                <div class="ng-invalid-feedback"
                     *ngIf="(form.controls['fotografia'].invalid &&
                     form.controls['fotografia'].dirty)">
                  El campo es requerido
                </div>
              </div>
            </div>


            <div class="form-group row">
              <label class="col-sm-4 col-form-label" for="tiempoLaborado">Observaciones
              </label>
              <div class="col-sm-8">
                <textarea name="observaciones" id="observaciones"
                          cols="30" class="form-control"
                          placeholder="Ingrese las observaciones de la visita"
                          formControlName="observaciones">
                </textarea>
                <div class="ng-invalid-feedback"
                     *ngIf="(form.controls['observaciones'].invalid &&
                     form.controls['observaciones'].dirty)">
                  El campo es requerido
                </div>
              </div>
            </div>

          </div>
        </div>




        <div class="card mt-3">
          <div class="card-body ">
            <div class="row">
              <div class="col-md-8">
                <b class="card-title">Hijos</b>
              </div>
              <div class="col-md-4 text-right">
                <button (click)="toggleModalHijo = true" class="btn btn-primary">
                  <i class="fa fa-plus"></i>
                  Agregar
                </button>
              </div>
            </div>
            <div class="form-group"><hr></div>
            <!-- Hijos -->
            <div class="form-group row" *ngIf="hijos.length > 0">
              <div class="col-md-12">
                <table class="table table-bordered">
                      <thead class="text-capitalize">
                      <th>edad</th>
                      <th>nombre</th>
                      <th>ocupación</th>
                      <th>ubicación</th>
                      <th class="acciones">acciones</th>
                      </thead>
                      <tbody>
                      <tr *ngFor="let value of hijos">
                        <td>{{ value.edad }}</td>
                        <td>{{ value.nombre }}</td>
                        <td>{{ value.ocupacion }}</td>
                        <td>{{ value.ubicacion }}</td>
                        <td class="acciones">
                          <div class="text-center">
                            <button class="btn btn-primary mr-2" (click)="updateHijo(value.id)">
                              <i class="fa fa-edit"></i>
                            </button>

                            <button class="btn btn-danger ml-2" (click)="deleteHijo(value.id)">
                              <i class="fa fa-trash"></i>
                            </button>
                          </div>
                        </td>
                      </tr>
                      </tbody>
                    </table>
              </div>
              <hr>
              </div>
            </div>
        </div>

        <div class="card mt-3">
          <div class="card-body ">
            <div class="row">
              <div class="col-md-8">
                <b class="card-title">Informacion familiar</b>
              </div>
              <div class="col-md-4 text-right">
                <button (click)="toggleModalInfoFlia = true" class="btn btn-primary">
                  <i class="fa fa-plus"></i>
                  Agregar
                </button>
              </div>
            </div>
            <div class="form-group"><hr></div>
            <div class="col-md-12">
            </div>
            <!-- informacion familiar -->
            <div class="form-group row">
            <div class="col-sm-12">
              <table class="table table-bordered">
                <thead class="text-capitalize">
                  <th>nombre</th>
                  <th>parentesco</th>
                  <th>edad</th>
                  <th>ocupacion</th>
                  <th>telefono</th>
                  <th>ciudad</th>
                  <th>Vive con ud</th>
                  <th class="acciones">acciones</th>
                </thead>
                <tbody>
                <tr *ngFor="let value of infoFamiliar;">
                  <td>{{ value.nombre }}</td>
                  <td>{{ value.parentesco }}</td>
                  <td>{{ value.edad }}</td>
                  <td>{{ value.ocupacion}}</td>
                  <td>{{ value.telefono}}</td>
                  <td>{{ value.ciudad}}</td>
                  <td>{{ value.viveConUd === true ? 'Si' : 'No' }}</td>
                  <td class="acciones">
                    <div class="text-center">
                      <button class="btn btn-primary mr-2" (click)="updateInfoFlia(value.id)">
                        <i class="fa fa-edit"></i>
                      </button>

                      <button class="btn btn-danger ml-2" (click)="deleteInfoFlia(value.id)">
                        <i class="fa fa-trash"></i>
                      </button>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
              <hr>
            </div>
          </div>
          </div>
        </div>
        <div class="card mt-3">
          <div class="card-body ">
            <div class="row">
              <div class="col-md-8">
                <b class="card-title">Referencias</b>
              </div>
              <div class="col-md-4 text-right">
                <button (click)="toggleModalReferencias = true" class="btn btn-primary">
                  <i class="fa fa-plus"></i>
                  Agregar
                </button>
              </div>
            </div>
            <div class="form-group"><hr></div>
          <!--referencias -->
          <div class="form-group row">
            <div class="col-sm-12">
              <table class="table table-bordered">
                <thead class="text-capitalize">
                  <th>nombre</th>
                  <th>ocupacion</th>
                  <th>telefono</th>
                  <th>ciudad</th>
                  <th>confirmacion</th>
                  <th class="acciones">acciones</th>
                </thead>
                <tbody>
                <tr *ngFor="let value of referencias">
                  <td>{{ value.nombre }}</td>
                  <td>{{ value.ocupacion }}</td>
                  <td>{{ value.telefono }}</td>
                  <td>{{ value.ciudad }}</td>
                  <td>{{ value.confirmacion }}</td>
                  <td class="acciones">
                    <div class="text-center">
                      <button class="btn btn-primary mr-2" (click)="updateReferencia(value.id)">
                        <i class="fa fa-edit"></i>
                      </button>

                      <button class="btn btn-danger ml-2" (click)="deleteReferencia(value.id)">
                        <i class="fa fa-trash"></i>
                      </button>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
              <hr>
            </div>
          </div>
          </div>
        </div>
      </div>
      <div class="card-footer bg-white">
        <div class="form-group text-center">
          <div class="row">
            <div class="col-md-6 mx-auto">
              <button *ngIf="permissions.FRCE && estado == 'aceptado'"
                      class="btn btn-danger"
                      [disabled]="form.invalid"
                      (click)="onSubmit()">
                <i class="fa fa-save"></i>
                Guardar
              </button>
              <button *ngIf="(permissions.FRCE && estado == 'proceso') || (permissions.AESP || permissions.ADG && estado == 'notificado')"
                      class="btn btn-warning"
                      [disabled]="form.invalid"
                      (click)="onUpdate()">
                <i class="fa fa-edit"></i>
                Actualizar
              </button>
            </div>
          </div>
        </div>
        <div *ngIf="permissions.AESP || permissions.ADG && estado == 'notificado'">
          <span class="text-primary d-block">Fecha de notificacion: {{ actividad.timestamps.fechaActualizacion.date | date:'short' }}</span>
        </div>
      </div>
    </div>
  </form>
</div>




<!-- Modal add hijos -->

<div class="d-none" [ngClass]="{'modal-backdrop show fade': toggleModalHijo, 'd-none': !toggleModalHijo}"></div>

<div  class="d-none" [ngClass]="{'modal fade modal-container show d-block': toggleModalHijo, 'd-none': !toggleModalHijo}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalVerticalLabel">Hijos</h5>
        <button type="button" class="close" (click)="toggleModalHijo = false">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="hijoForm">

          <!-- edad -->
          <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="hijo-edad">Edad</label>
            <div class="col-sm-9">
              <input type="number" class="form-control"
                     id="hijo-edad"
                     name="edad"
                     formControlName="edad"
                     placeholder="Ingrese un numero valido"
                     required>
              <div class="ng-invalid-feedback"
                   *ngIf="(hijoForm.get('edad').invalid &&
                     hijoForm.get('edad').dirty)">
                El campo es requerido
              </div>
            </div>
          </div>


          <!-- nombre -->
          <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="hijo-nombre">Nombre</label>
            <div class="col-sm-9">
              <input type="text" class="form-control"
                     id="hijo-nombre"
                     name="nombre"
                     formControlName="nombre"
                     placeholder="Ingrese el nombre valido"
                     required>
              <div class="ng-invalid-feedback"
                   *ngIf="(hijoForm.get('nombre').invalid &&
                     hijoForm.get('nombre').dirty)">
                El campo es requerido
              </div>
            </div>
          </div>


          <!-- ocupacion -->
          <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="hijo-ocupacion">Ocupación</label>
            <div class="col-sm-9">
              <input type="text" class="form-control"
                     id="hijo-ocupacion"
                     name="ocupacion"
                     formControlName="ocupacion"
                     placeholder="Ocupación del hijo"
                     required>
              <div class="ng-invalid-feedback"
                   *ngIf="(hijoForm.get('ocupacion').invalid &&
                     hijoForm.get('ocupacion').dirty)">
                El campo es requerido
              </div>
            </div>
          </div>


          <!-- ubicacion -->
          <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="hijo-ubicacion">Ubicación</label>
            <div class="col-sm-9">
              <input type="text" class="form-control"
                     id="hijo-ubicacion"
                     name="ubicacion"
                     formControlName="ubicacion"
                     placeholder="ingrese una ubicación valida"
                     required>
              <div class="ng-invalid-feedback"
                   *ngIf="(hijoForm.get('ubicacion').invalid &&
                     hijoForm.get('ubicacion').dirty)">
                El campo es requerido
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModalHijos()">Cerrar</button>
        <button type="button" class="btn btn-warning" [disabled]="hijoForm.invalid" (click)="refreshHijo()" *ngIf="isUpdateHijo">Actualizar</button>
        <button type="button" class="btn btn-primary" [disabled]="hijoForm.invalid" (click)="addHijos()" *ngIf="!isUpdateHijo">Guardar</button>
      </div>
    </div>
  </div>
</div>



<!-- Modal InformacionFamiliar -->

<div class="d-none" [ngClass]="{'modal-backdrop show fade': toggleModalInfoFlia, 'd-none': !toggleModalInfoFlia}"></div>

<div  class="d-none" [ngClass]="{'modal fade modal-container show d-block': toggleModalInfoFlia, 'd-none': !toggleModalInfoFlia}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Información familiar</h5>
        <button type="button" class="close" (click)="closeModalInfoFlia()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="infoFamiliarForm">
          <!-- nombre -->
          <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="info-flia-nombre">Nombre</label>
            <div class="col-sm-9">
              <input type="text" class="form-control"
                     id="info-flia-nombre"
                     name="nombre"
                     formControlName="nombre"
                     placeholder="Ingrese un nombre valido"
                     required>
              <div class="ng-invalid-feedback"
                   *ngIf="(infoFamiliarForm.get('nombre').invalid &&
                     infoFamiliarForm.get('nombre').dirty)">
                El campo es requerido
              </div>
            </div>
          </div>

          <!-- parentesco -->
          <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="info-flia-parentesco">Parentesco</label>
            <div class="col-sm-9">
              <input type="text" class="form-control"
                     id="info-flia-parentesco"
                     name="parentesco"
                     formControlName="parentesco"
                     placeholder="Ingrese un dato valido"
                     required>
              <div class="ng-invalid-feedback"
                   *ngIf="(infoFamiliarForm.get('parentesco').invalid &&
                     infoFamiliarForm.get('parentesco').dirty)">
                El campo es requerido
              </div>
            </div>
          </div>

          <!-- edad -->
          <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="info-flia-edad">Edad</label>
            <div class="col-sm-9">
              <input type="number" class="form-control"
                     id="info-flia-edad"
                     name="edad"
                     formControlName="edad"
                     placeholder="Ingrese un numero valido"
                     required>
              <div class="ng-invalid-feedback"
                   *ngIf="(infoFamiliarForm.get('edad').invalid &&
                     infoFamiliarForm.get('edad').dirty)">
                El campo es requerido
              </div>
            </div>
          </div>

          <!-- ocupacion -->
          <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="info-flia-ocupacion">ocupacion</label>
            <div class="col-sm-9">
              <input type="text" class="form-control"
                     id="info-flia-ocupacion"
                     name="edad"
                     formControlName="ocupacion"
                     placeholder="Ingrese un dato valido"
                     required>
              <div class="ng-invalid-feedback"
                   *ngIf="(infoFamiliarForm.get('ocupacion').invalid &&
                     infoFamiliarForm.get('ocupacion').dirty)">
                El campo es requerido
              </div>
            </div>
          </div>

          <!-- telefono -->
          <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="info-flia-telefono">Telefono</label>
            <div class="col-sm-9">
              <input type="number" class="form-control"
                     id="info-flia-telefono"
                     name="telefono"
                     formControlName="telefono"
                     placeholder="Ingrese un telefono valido"
                     required>
              <div class="ng-invalid-feedback"
                   *ngIf="(infoFamiliarForm.get('telefono').invalid &&
                     infoFamiliarForm.get('telefono').dirty)">
                El campo es requerido
              </div>
            </div>
          </div>

          <!-- ciudad -->
          <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="info-flia-ciudad">Ciudad</label>
            <div class="col-sm-9">
              <input type="text" class="form-control"
                     id="info-flia-ciudad"
                     name="edad"
                     formControlName="ciudad"
                     placeholder="Ingrese una ciudad valida"
                     required>
              <div class="ng-invalid-feedback"
                   *ngIf="(infoFamiliarForm.get('ciudad').invalid &&
                     infoFamiliarForm.get('ciudad').dirty)">
                El campo es requerido
              </div>
            </div>
          </div>

          <!-- Vive con ud -->
          <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="viveConUd">Vive con ud</label>
            <div class="col-sm-9">
              <div class="form-check form-check-inline">
                <input class="form-check-input"
                       type="radio"
                       formControlName="viveConUd"
                       id="viveConUd" [value]="true">
                <label class="form-check-label" for="viveConUd">Si</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input"
                       type="radio"
                       formControlName="viveConUd"
                       id="viveConUd!" [value]="false">
                <label class="form-check-label" for="viveConUd!">No</label>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModalInfoFlia()">Cerrar</button>
        <button type="button" class="btn btn-warning" [disabled]="infoFamiliarForm.invalid" (click)="refreshInfoFlia()" *ngIf="isUpdateInfoFlia">Actualizar</button>
        <button type="button" class="btn btn-primary" [disabled]="infoFamiliarForm.invalid" (click)="addInfoFlia()" *ngIf="!isUpdateInfoFlia">Guardar</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal referencias -->

<div class="d-none" [ngClass]="{'modal-backdrop show fade': toggleModalReferencias, 'd-none': !toggleModalReferencias}"></div>

<div  class="d-none" [ngClass]="{'modal fade modal-container show d-block': toggleModalReferencias, 'd-none': !toggleModalReferencias}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Información familiar</h5>
        <button type="button" class="close" (click)="closeModalReferencia()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="referenciaForm">
          <!-- nombre -->
          <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="ref-nombre">Nombre</label>
            <div class="col-sm-9">
              <input type="text" class="form-control"
                     id="ref-nombre"
                     name="nombre"
                     formControlName="nombre"
                     placeholder="Ingrese un nombre valido"
                     required>
              <div class="ng-invalid-feedback"
                   *ngIf="(referenciaForm.get('nombre').invalid &&
                     referenciaForm.get('nombre').dirty)">
                El campo es requerido
              </div>
            </div>
          </div>

          <!-- ocupacion -->
          <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="ref-ocupacion">Ocupación</label>
            <div class="col-sm-9">
              <input type="text" class="form-control"
                     id="ref-ocupacion"
                     name="ocupacion"
                     formControlName="ocupacion"
                     placeholder="Ingrese un dato valido"
                     required>
              <div class="ng-invalid-feedback"
                   *ngIf="(referenciaForm.get('ocupacion').invalid &&
                     referenciaForm.get('ocupacion').dirty)">
                El campo es requerido
              </div>
            </div>
          </div>

          <!-- telefono -->
          <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="ref-telefono">Telefono</label>
            <div class="col-sm-9">
              <input type="text" class="form-control"
                     id="ref-telefono"
                     name="telefono"
                     formControlName="telefono"
                     placeholder="Ingrese un telefono valido"
                     required>
              <div class="ng-invalid-feedback"
                   *ngIf="(referenciaForm.get('telefono').invalid &&
                     referenciaForm.get('telefono').dirty)">
                El campo es requerido
              </div>
            </div>
          </div>

          <!-- ciudad -->
          <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="ref-ciudad">Ciudad</label>
            <div class="col-sm-9">
              <input type="text" class="form-control"
                     id="ref-ciudad"
                     name="ciudad"
                     formControlName="ciudad"
                     placeholder="Ingrese una ciudad valida"
                     required>
              <div class="ng-invalid-feedback"
                   *ngIf="(referenciaForm.get('ciudad').invalid &&
                     referenciaForm.get('ciudad').dirty)">
                El campo es requerido
              </div>
            </div>
          </div>

          <!-- confirmacion -->
          <div class="form-group row">
            <label class="col-sm-4 col-form-label" for="ref-confirmacion">Confirmacion</label>
            <div class="col-sm-8">
              <input type="text" class="form-control"
                     id="ref-confirmacion"
                     name="confirmacion"
                     formControlName="confirmacion"
                     placeholder="Ingrese una dato valido"
                     required>
              <div class="ng-invalid-feedback"
                   *ngIf="(referenciaForm.get('confirmacion').invalid &&
                     referenciaForm.get('confirmacion').dirty)">
                El campo es requerido
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModalReferencia()">Cerrar</button>
        <button type="button" class="btn btn-warning" [disabled]="referenciaForm.invalid" (click)="refreshReferencia()" *ngIf="isUpdateReferencias">Actualizar</button>
        <button type="button" class="btn btn-primary" [disabled]="referenciaForm.invalid" (click)="addReferencia()" *ngIf="!isUpdateReferencias">Guardar</button>
      </div>
    </div>
  </div>
</div>
