<div class="container-fluid mt-3">
  <div class="card mb-3">

    <div class="card-body">

      <div class="table-responsive">
        <!-- tabla de servicios -->

        <!--<div class="form-group mt-2 text-right">
          <div class="input-group input-group-sm col-sm-6 offset-sm-6">
            <div class="input-group-prepend">
              <span class="input-group-text">Filtrar por</span>
            </div>
            <select name="opciones" id="options" class="form-control text-capitalize" #filtro>
              <option *ngFor="let e of options" [value]="e.value">{{ e.title }}</option>
            </select>

            <input type="text" class="form-control" placeholder="Busqueda" (keydown.enter)="filtrarServicios(filtro.value, busqueda.value)" #busqueda>

            <button type="button" (click)="filtrarServicios(filtro.value, busqueda.value)" class="btn btn-success btn-sm"><i class="fa fa-check"></i> Buscar</button>&nbsp;
          </div>
        </div>-->

        <table class="table table-bordered table-hover table-sm">
          <thead>
          <tr class="text-capitalize">
            <th [ngxPermissionsOnly]="ADG">eliminar</th>
            <th>centro de costo </th>
            <th>fecha </th>
            <th>ciudad</th>
            <th>solicitante</th>
            <th>servicio solicitado</th>
            <th>adjunto</th>
            <th>informe</th>
            <th>estado de servicio</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of servicios$ | async">
            <td *ngIf="permissions.ADG">
              <button (click)="eliminarServicio(item.id)" class="btn btn-danger">
                <i class="fa fa-trash"></i>
              </button>
            </td>
            <td> {{ item.centroCosto }} </td>
            <td> {{ item.fecha }} </td>
            <td> {{ item.ciudad }} </td>
            <td> {{ item.solicitante }} </td>
            <td> {{ item.servicioSolicitado }} </td>
            <td> {{ item.adjunto }} </td>
            <td> {{item.informe }} </td>
            <td>
              <div [ngSwitch]="item.estado">
                <div *ngSwitchCase="'cargado'">
                  <span class="badge badge badge-dark"> {{ item.estado }} </span>
                </div>
                <div *ngSwitchCase="'proceso'">
                  <span class="badge badge badge-primary"> {{ item.estado }} </span>
                </div>
                <div *ngSwitchCase="'completado'">
                  <span class="badge badge badge-warning"> {{ item.estado }} </span>
                </div>
                <div *ngSwitchCase="'notificado'">
                  <span class="badge badge badge-danger"> {{ item.estado }} </span>
                </div>
                <div *ngSwitchCase="'finalizado'">
                  <span class="badge badge badge-success"> {{ item.estado }} </span>
                </div>
              </div>
            </td>

            <!--<td>
              <div class="form-group text-center">
                <button class="btn btn-warning" (click)="mostrarModal(item.id)">
                  <i class="fa fa-eye"></i>
                </button>
              </div>
            </td>-->
            <!--<td>
              <button *ngIf="item.estado == 'completado' && (permissions.AESP || permissions.ADG)"
                      (click)="notificarDirectorOperacion(item)" class="btn btn-success btn-sm">
                <i class="fa fa-lightbulb"></i>
              </button>
              <button *ngIf="item.estado == 'notificado' && permissions.DOPE"
                      (click)="notificarClienteAndFacturacion(item)" class="btn btn-danger btn-sm">
                <i class="fa fa-lightbulb"></i>
              </button>
            </td>-->
          </tr>
          </tbody>
        </table>

      </div>
    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
  </div>
</div>

<!-- Modal -->

<div class="modal-backdrop fade" [ngClass]="{'show': palancaModal, 'd-none': !palancaModal}"></div>

<div  class="modal fade modal-container" [ngClass]="{'show d-block': palancaModal, 'd-none': !palancaModal}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalVerticalLabel">Actividades Aplicadas</h5>
        <button type="button" class="close" (click)="cerrarModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="list-group">
          <li class="list-group-item">
            <div class="row">
              <div class="col-sm-6">
                <span>Actividad</span>
              </div>
              <div class="col-sm-6 text-right">
                <span>Estado</span>
              </div>
            </div>
          </li>
          <li class="list-group-item" *ngFor="let actividad of actividades$">
            <div class="row">
              <div class="col-sm-6">
                <ng-template  [ngxPermissionsOnly]="['ADG', 'AESP', 'FRCE', 'DOPE']">
                  <a  class="link" (click)="cargarActividad(actividad)">
                    {{ actividad.nombre }}
                  </a>
                </ng-template>
                <ng-template ngxPermissionsOnly="CLI">
                  <a >
                    {{ actividad.nombre }}
                  </a>
                </ng-template>
              </div>
              <div class="col-sm-6 text-right">
                <div [ngSwitch]="actividad.estado">
                  <div *ngSwitchCase="'cargado'">
                    <span class="badge badge-pill service-loaded"> {{ actividad.estado }} </span>
                  </div>
                  <div *ngSwitchCase="'asignado'">
                    <span class="badge badge-pill service-asigned"> {{ actividad.estado }} </span>
                  </div>
                  <div *ngSwitchCase="'aceptado'">
                    <span class="badge badge-pill service-acepted"> {{ actividad.estado }} </span>
                  </div>
                  <div *ngSwitchCase="'proceso'">
                    <span class="badge badge-pill service-process"> {{ actividad.estado }} </span>
                  </div>
                  <div *ngSwitchCase="'notificado'">
                    <div *ngIf="permissions.CLI">
                      <span class="badge badge-pill service-process"> {{ actividad.estado }} </span>
                    </div>
                    <div *ngIf="!permissions.CLI">
                      <span class="badge badge-pill  badge-danger"> {{ actividad.estado }} </span>
                    </div>
                  </div>
                  <div *ngSwitchCase="'completado'">
                    <span class="badge badge-pill service-finished"> {{ actividad.estado }} </span>
                  </div>
                  <div *ngSwitchCase="'alerta'">
                    <span class="badge badge-pill  badge-danger"> {{ actividad.estado }} </span>
                  </div>

                  <div *ngSwitchCase="'finalizado'">
                    <span class="badge badge-pill  badge-success"> {{ actividad.estado }} </span>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="cerrarModal()">Cerrar</button>
      </div>
    </div>
  </div>
</div>
