<div class="modal-header">
  <h5 class="modal-title">Detalle del servicio</h5>
  <button type="button" class="close" (click)="activeModal.close()">
    <span>&times;</span>
  </button>
</div>
<div class="modal-body">
  <fieldset disabled>
    <div class="row">
      <div class="col-md-6">
        <!--evaluado-->
        <div class="form-group">
          <label for="m-evaluado">Nombre del evaluado</label>
          <input type="text" id="m-evaluado" class="form-control" [(ngModel)]="servicio.evaluado.evaluado">
        </div>

        <!--tipo documento-->
        <div class="form-group">
          <label for="m-tipoDocumento">Documento de identidad</label>
          <select class="form-control" [(ngModel)]="servicio.evaluado.tipoDocumento" id="m-tipoDocumento">
            <option value="cc">C.C. Cedula</option>
            <option value="ti">T.I. Tarjeta de identidad</option>
            <option value="ce">C.E. Cedula de extrangeria</option>
            <option value="pa">P.A. Pasaporte</option>
            <option value="pep">P.E.P. Permiso especial de permanencia</option>
          </select>
        </div>

        <!--documento-->
        <div class="form-group">
          <label for="m-documento">Numero de documento</label>
          <input type="number" class="form-control" id="m-documento"  [(ngModel)]="servicio.evaluado.documento">
        </div>

        <!--lugar desarrollo-->
        <div class="form-group">
          <label for="m-ciudad">Lugar de desarrollo</label>
          <input type="text" class="form-control" id="m-ciudad"  [(ngModel)]="servicio.lugarDesarrollo">
        </div>

        <!--telefono-->
        <div class="form-group">
          <label for="m-telefono">Telefono</label>
          <input type="number" class="form-control" id="m-telefono"  [(ngModel)]="servicio.evaluado.telefono">
        </div>

      </div>
      <div class="col-md-6">

        <!--email-->
        <div class="form-group">
          <label for="m-email">Email</label>
          <input type="email" class="form-control" id="m-email"  [(ngModel)]="servicio.evaluado.email">
        </div>

        <!--observaciones-->
        <div class="form-group">
          <label for="m-obs">Observaciones</label>
          <textarea
            rows="3"
            class="form-control"
            id="m-obs"
            [(ngModel)]="servicio.observaciones">
              </textarea>
        </div>

        <!-- tipo servicio -->
        <div class="form-group">
          <ng-container [ngSwitch]="servicio.tipoServicio">
            <div *ngSwitchCase="'esp'">
              <label>Tipo de esp</label>
              <div class="d-block">
                <span class="badge badge-success">{{ servicio.tipoEsp }}</span>
              </div>
            </div>
            <div *ngSwitchCase="'pol'">
              <label>Tipo de poligrafia</label>
              <div class="d-block">
                <span class="badge badge-success">{{ servicio.tipoPoligrafia }}</span>
              </div>
            </div>
          </ng-container>
        </div>

        <!-- anexo -->
        <div class="form-group" *ngIf="servicio.anexo">
          <label>Anexo</label>
          <div class="d-block">
            <i class="fa fa-file"></i>
            {{ servicio.anexo }}
          </div>
        </div>
      </div>
    </div>
  </fieldset>
</div>
<div class="modal-footer">
  <button class="btn btn-secondary" (click)="activeModal.close()">
    <i class="fa fa-close"></i>
    Cerrar
  </button>
</div>