<table class="table table-bordered table-hover table-sm text-capitalize">
  <thead>
    <tr>
      <th>fecha creacion</th>
      <th>lugar de desarrollo</th>
      <th>solicitante</th>
      <th>evaluado</th>
      <th>aceptacion</th>
      <th>informe</th>
      <th>estado </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of data; index as i">
      <td> {{ item.fechaCreacion }} </td>
      <td> {{ item.ciudad }} </td>
      <td> {{ item.centroCosto.solicitante }} </td>
      <td>
        <div class="form-group text-center">
          <button class="btn btn-warning text-center"
                  [disabled]="item.estado !== 'desarrollo'"
                  (click)="abrirVentana(item)">
            <i class="fa fa-eye"></i>
            Ver detalle
          </button>
        </div>
      </td>
      <td>
        <div *ngIf="item.estado === 'asignado'">
          <button class="btn btn-primary btn-sm text-center mr-2" (click)="aceptarServicio(item, i)">
            <i class="fa fa-check"></i>
            Aceptar
          </button>
          <button class="btn btn-danger btn-sm text-center ml-2" (click)="rechazarServicio(item, i)">
            <i class="fa fa-times"></i>
            Rechazar
          </button>
        </div>
      </td>
      <td>
        <div *ngIf="item.estado === 'aceptado'">
          <button class="btn btn-sm" (click)="ventanaFechas(item, i)">
            Asignar fecha - hora
          </button>
        </div>
        <div *ngIf="item.estado === 'desarrollo'">
          <button class="btn btn-primary btn-sm" routerLink="/actividades">
            Informe
          </button>
        </div>
      </td>

      <td>

      </td>
    </tr>
  </tbody>
</table>

<app-modal title="Asignar fecha y hora">
  <div class="body">
    <div class="form-group row">
      <span class="col-md-4">
        Fecha y hora de la visita
      </span>
      <div class="col-md-8">
        <input type="datetime-local" class="form-control">
      </div>
    </div>
  </div>
  <div class="footer">
    <button class="btn btn-success mr-2" (click)="asignarFecha()">
      Guardar
    </button>
    <button class="btn btn-secondary" (click)="modalService.close()">
      Cerrar
    </button>
  </div>
</app-modal>
