
<div id="content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 text-center mt-3">

        <div class="btn-group">
          <button
            type="button" class="btn btn-primary"
            routerLinkActive="active"
            [routerLink]="'../solicitud-servicios/esp'">
            ESP
          </button>

          <button
            type="button" class="btn btn-primary"
            routerLinkActive="active"
            [routerLink]="'../solicitud-servicios/investigaciones'">
            Investigaciones
          </button>
        </div>
      </div>
      <div class="col-md-12 mt-3">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
