<table class="table table-bordered table-hover table-sm">
  <thead>
    <tr class="text-capitalize">
      <th>centro de costo</th>
      <th>fecha creación</th>
      <th>lugar de desarrollo</th>
      <th>solicitante</th>
      <th>Servicio solicitado</th>
      <th>informe</th>
      <th>estado</th>
    </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of servicios">
    <td> {{ item.centro_costo.id }} </td>
    <td> {{ item.fecha_creacion | date }} </td>
    <td> {{ item.lugar_desarrollo }} </td>
    <td> {{ item.centro_costo.solicitante }} </td>
    <td>
      <div *ngIf="item.tipo_servicio === 'esp'" >
        <div class="form-group text-center">
          <button class="btn btn-sm btn-info text-center" (click)="verDetalle(item)">
            <i class="fa fa-eye"></i>
            ESP
          </button>
        </div>
      </div>
      <div *ngIf="item.tipo_servicio === 'inv'" >
        <div class="form-group text-center">
          <div class="form-group text-center">
            INVESTIGACION
          </div>
        </div>
      </div>
      <div *ngIf="item.tipo_servicio === 'pol'">
        <div class="form-group text-center">
          <button class="btn btn-sm btn-info text-center" (click)="verDetalle(item)">
            <i class="fa fa-eye"></i>
            POLIGRAFIA
          </button>
        </div>
      </div>
    </td>
    <td>
      <div class="form-group text-center" *ngIf="item.informe">
        <a [href]="makeFileUrl(item.informe)" class="btn btn-primary">
          <i class="fa fa-file"></i>
        </a>
      </div>
    </td>

    <td>

      <div *ngIf="item.tipo_servicio == 'pol' || item.tipo_servicio == 'inv'">
        <div [ngSwitch]="item.estado">
          <span *ngSwitchCase="'proceso'" class="badge badge badge-warning">{{ item.estado }} </span>
          <span *ngSwitchCase="'completado'" class="badge badge badge-warning"> {{ item.estado }} </span>
          <span *ngSwitchCase="'alerta'" class="badge badge badge-danger" placement="top" ngbTooltip="Comunicarse con Tss">
            {{ item.estado }}
          </span>
          <span *ngSwitchCase="'finalizado'" class="badge badge badge-success"> {{ item.estado }} </span>
        </div>
      </div>

      <div *ngIf="item.tipo_servicio == 'esp'">
        <div [ngSwitch]="item.estado">
          <button *ngSwitchCase="'proceso'" class="btn btn-sm btn-warning" (click)="verActividades(item)">
            <i class="fa fas-eye"></i>
            {{ item.estado }} </button>
          <button *ngSwitchCase="'completado'" class="btn btn-sm btn-warning"> {{ item.estado }} </button>
          <button *ngSwitchCase="'alerta'" class="btn btn-sm btn-danger" placement="top" ngbTooltip="Comunicarse con Tss">
            {{ item.estado }}
          </button>
          <button *ngSwitchCase="'finalizado'" class="btn btn-sm btn-success"> {{ item.estado }} </button>
        </div>
      </div>

    </td>
  </tr>
  </tbody>
</table>
