<div class="card-header bg-white">
  <h4>Verificacion Laboral</h4>
</div>
<div class="card-body bg-light">

  <!--Historial laboral-->


  <!--Nivel academico-->


</div>
<div class="card-footer text-right">
  <button class="btn btn-primary" (click)="saveAll()" *ngIf="!dataLoaded">Guardar</button>
</div>


<!--<div class="col-md-12 m-3 text-right">
  <button class="btn btn-danger mr-2 ml-2"
          *ngIf="permissions.FRCE && ( actividad.estado == 'proceso' || actividad.estado == 'aceptado')"
          (click)="reportarCliente()">
    <i class="fa fa-message"></i>
    Alerta
  </button>
  <button class="btn btn-success"
          *ngIf="permissions.FRCE && actividad.estado == 'proceso'"
          [disabled]="verificacionLaboral.length === 0"
          (click)="notificarAnalista()">
    <i class="fa fa-message"></i>
    Notificar a analista EspInterface
  </button>
</div>-->
<!--historial laboral modal-->



<!--nivel academico modal -->

