

<!-- cuando la actividad a sido asignada y esta en espera de aceptacion-->
<ng-template [ngxPermissionsOnly]="['ADG', 'DOPE', 'AESP']">
  <div *ngIf="actividad.estado == 'proceso'">
    <div class="col-md-8 mx-auto">
      <div class="card">
        <div class="card-header">
          Actividad Asignada
        </div>
        <div class="card-body">
          <div class="card-title">
            Pendiente por: <b>{{ actividad.actividadAsignada.usuarioNombre }}</b>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<!-- freelance view -->
<ng-template ngxPermissionsOnly="FRCE">


  <!-- cuando la actividad se ha vencido -->
  <div *ngIf="actividad.estado == 'alerta'">
    <div class="col-md-8 mx-auto">
      <div class="card">
        <div class="card-header">
          Actividad vencida
        </div>
        <div class="card-body">
          <div class="card-title">
            <div class="alert alert-danger" role="alert">
              <span class="text-danger d-block">La actividad se ha vencido. por favor pongase en contacto con Total Security Services</span>
              <span class="text-danger d-block">Fecha de vencimiento: {{ actividad.actividadAsignada.timestamps.fechaActualizacion }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- aceptar actividad freelance -->
  <div *ngIf="actividad.estado == 'asignado'">
    <div class="col-md-8 mx-auto">
      <div class="card">
        <div class="card-header">
          Aceptar Actividad
        </div>
        <div class="card-body">
          <div class="card-title">
            <span class="text-info d-block">Fecha de asignacion: {{ actividad.actividadAsignada.timestamps.fechaCreacion}}</span>
          </div>
          <div class="form-group text-center">
            <button class="btn btn-primary" (click)="onAceptarActividad()">
              <i class="fa fa-check"></i>
              Aceptar actividad
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>



  <!-- cuando el freelance finaliza la actividad y la notifica al analista esp -->
  <div *ngIf="actividad.estado == 'notificado'">
    <div class="col-md-8 mx-auto">
      <div class="card">
        <div class="card-header">
          Actividad notificada al analista de servicios esp
        </div>
        <div class="card-body">
          <div class="card-title">
            <span class="text-info d-block">
              Fecha de notificacion:
              <b>{{ actividad.timestamps.fechaActualizacion }}</b>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>


<div *ngIf="(actividad.estado == 'aceptado' || actividad.estado == 'proceso' && permissions.FRCE) || ((permissions.ADG || permissions.DOPE || permissions.AESP) && (actividad.estado == 'aceptado' || actividad.estado == 'proceso' || actividad.estado == 'notificado' || actividad.estado == 'completado'))">
  <div class="card animated fade-in" #vdsElement>

    <div class="card-body">
      <div class="form-group row">
        <div class="col-sm-2 col-form-label">
          <ul class="nav nav-pills flex-column bg-light">
            <li class="nav-item" *ngFor="let item of visitaDomicialiariaMenu">
              <a class="nav-link"
                 routerLinkActive="active"
                 [routerLink]="item.path">
                {{ item.title }}
              </a>
            </li>
          </ul>

          <div *ngIf="permissions.FRCE && estado == 'completado'">
            <div class="form-group mt-2 text-center">
              <button class="btn btn-success" (click)="notificarAnalista()">
                <i class="fa fa-lightbulb"></i>
                Notificar
              </button>
            </div>
          </div>
        </div>

        <div class="col-sm-10">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
    <div class="card-footer bg-white"></div>
  </div>
</div>
