<div class="card-header bg-white">
  <h4>Visita domiciliaria de seguridad</h4>
</div>
<div class="card-body bg-light">

  <!--Egresos mensuales-->

  <!-- card patrimonio bienes immuebles -->


  <!-- card bienes muebles -->


  <!-- card referencias bancarias -->


  <!-- card capacidad endeudamiento -->


  <!--Analisis patrimonial-->
  <!--<div class="card mt-3">
    <div class="card-body ">
      <b class="card-title">Analisis patrimonial</b>
      <hr>
      <div class="form-group row">
        <label class="col-sm-4 col-form-label" for="analisisPatrimonial">
          Análisis e interpretación patrimonial
          y financiera teniendo en cuenta la
          condición socioeconómica del
          candidato
        </label>
        <div class="col-sm-8">
                <textarea name="analisisPatrimonial"
                          id="analisisPatrimonial" rows="3"
                          class="form-control" formControlName="analisisPatrimonial"
                          placeholder="Ingrese el analisis">
                </textarea>
          <div class="ng-invalid-feedback"
               *ngIf="(formIngresos.controls['analisisPatrimonial'].invalid &&
                     formIngresos.controls['analisisPatrimonial'].dirty)">
            El campo es requerido
          </div>
        </div>
      </div>
    </div>
  </div>-->

</div>
<div class="card-footer bg-white">
  <button class="btn btn-primary" (click)="saveAll()" *ngIf="!dataLoaded">Guardar</button>
</div>


<!-- Modal referencias bancarias -->
|

<!-- Modal capacidad endeudamiento -->




