<div class="container-fluid mt-3">
  <h2 class="text-center">Clientes</h2>
  <!-- Icon Cards-->
  <div class="row">
    <div *ngFor="let card of subMenu" class="col-xl-3 col-sm-4 mb-3">
      <app-card [card]="card" (onClick)="goToSection($event)"></app-card>
    </div>
  </div>
</div>
<!-- Sticky Footer -->
<footer class="sticky-footer fixed-bottom">

  <div class="container my-auto">
    <div class="copyright text-center my-auto">
      <span>Copyright © Your Website 2018</span>
    </div>
  </div>
</footer>

