<div class="mx-auto animated fade-in">
  <form [formGroup]="form">
    <div class="card" #pdfContainer>
      <div class="card-header bg-white">
        <h4>Estado de Salubridad</h4>
      </div>
      <div class="card-body bg-light">
          <!-- Informacion personal card-->
        <div class="card">
          <div class="card-body ">
            <b class="card-title">Información personal</b>
            <hr>
            <!-- toma medicamentos -->
            <div class="form-group row">
              <label class="col-sm-4 col-form-label" for="tomaMedicamentos">¿Toma medicamentos en la actualidad?</label>
              <div class="col-sm-8">
                <input type="text" class="form-control"
                       id="tomaMedicamentos"
                       name="tomaMedicamentos"
                       formControlName="tomaMedicamentos"
                       placeholder="Ingrese los medicamentos"
                       required>
                <div class="ng-invalid-feedback"
                     *ngIf="(form.controls['tomaMedicamentos'].invalid &&
                   form.controls['tomaMedicamentos'].dirty)">
                  El campo es requerido
                </div>
              </div>
            </div>


            <!-- sufre enfermedades -->
            <div class="form-group row">
              <label class="col-sm-4 col-form-label" for="sufreEnfermedad">¿Sufre alguna Enfermedad?</label>
              <div class="col-sm-8">
                <input type="text" class="form-control"
                       id="sufreEnfermedad"
                       name="sufreEnfermedades"
                       formControlName="sufreEnfermedades">
              </div>
            </div>


            <!-- tratamiento psicologico -->
            <div class="form-group row">
              <label class="col-sm-4 col-form-label" for="tratamientoPsicologico">¿Ha sido sometido a algún tipo de tratamiento psicológico?</label>
              <div class="col-sm-8">
                <input type="text" class="form-control"
                       id="tratamientoPsicologico"
                       name="tratamientoPsicologico"
                       formControlName="tratamientoPsicologico">
              </div>
            </div>


            <!-- fuma -->
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">¿Fuma?</label>
              <div class="col-sm-8">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio"
                         name="fuma" id="fuma"
                         [value]="true" formControlName="fuma">
                  <label class="form-check-label" for="fuma">Si</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio"
                         name="fuma" id="fuman"
                         [value]="false" formControlName="fuma">
                  <label class="form-check-label" for="fuman">No</label>
                </div>
              </div>
            </div>


            <!-- ¿Consume bebidas alcohólicas? -->
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">¿Consume bebidas alcohólicas?</label>
              <div class="col-sm-8">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio"
                         name="consumeAlcohol" id="consumeAlcohol"
                         [value]="true" formControlName="consumeAlcohol">
                  <label class="form-check-label" for="consumeAlcohol">Si</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio"
                         name="consumeAlcohol" id="consumeAlcoholn"
                         [value]="false" formControlName="consumeAlcohol">
                  <label class="form-check-label" for="consumeAlcoholn">No</label>
                </div>
              </div>
            </div>


            <!-- ¿Consume sustancias psicoactivas?	-->
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">¿Consume sustancias psicoactivas?</label>
              <div class="col-sm-8">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio"
                         name="consumeDrogas" id="consumeDrogas"
                         [value]="true" formControlName="consumeDrogas">
                  <label class="form-check-label" for="consumeDrogas">Si</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio"
                         name="consumeDrogas" id="consumeDrogasn"
                         [value]="false" formControlName="consumeDrogas">
                  <label class="form-check-label" for="consumeDrogasn">No</label>
                </div>
              </div>
            </div>



            <!-- ¿Realiza algún deporte? -->
            <div class="form-group row">
              <label class="col-sm-3 col-form-label" for="realizaDeporte">¿Realiza algún deporte?</label>
              <div class="col-sm-9">
                <textarea class="form-control"
                          id="realizaDeporte" name="realizaDeporte"
                          formControlName="realizaDeporte" rows="3"
                          placeholder="Ingresé los deportes que practica">

                </textarea>
              </div>
            </div>


            <!-- ¿Qué actividades realiza en su tiempo libre? -->
            <div class="form-group row">
              <label class="col-sm-3 col-form-label" for="hobbies">¿Qué actividades realiza en su tiempo libre?</label>
              <div class="col-sm-9">
                <textarea class="form-control"
                          id="hobbies" name="hobbies"
                          formControlName="hobbies" rows="3"
                          placeholder="Ingresé las actividades que realiza">

                </textarea>
              </div>
            </div>



          </div>
        </div>
      </div>
      <div class="card-footer bg-white">
        <div class="form-group text-center">
          <div class="row">
            <div class="col-md-6 mx-auto">
              <button *ngIf="permissions.FRCE && estado == 'aceptado'"
                      class="btn btn-danger"
                      [disabled]="form.invalid"
                      (click)="onSubmit()">
                <i class="fa fa-save"></i>
                Guardar
              </button>
              <button *ngIf="(permissions.FRCE && estado == 'proceso') || (permissions.AESP || permissions.ADG && estado == 'notificado')"
                      class="btn btn-warning"
                      [disabled]="form.invalid"
                      (click)="onUpdate()">
                <i class="fa fa-edit"></i>
                Actualizar
              </button>
            </div>
          </div>
        </div>
        <div *ngIf="permissions.AESP || permissions.ADG && estado == 'notificado'">
          <span class="text-primary d-block">Fecha de notificacion: {{ actividad.timestamps.fechaActualizacion.date | date:'short' }}</span>
        </div>
      </div>
    </div>
  </form>
</div>
