<div class="col-md-10 mx-auto">
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-md-7">
          <h4 class="card-title">Viaticos</h4>
        </div>
        <div class="col-md-5">
          <button class="btn btn-outline-success text-right mr-2" (click)="open(mdRecorridos)">
            <i class="fa fa-plus"></i>
            Agregar
          </button>
          <button class="btn btn-outline-warning text-right mr-2" (click)="open(mdRecorridos)">
            <i class="fa fa-edit"></i>
            Editar
          </button>
          <button class="btn btn-outline-danger text-right" (click)="delete()">
            <i class="fa fa-trash"></i>
            Eliminar
          </button>
        </div>
      </div>

    </div>
    <div class="card-body">
      <div class="alert alert-info mt-2">
        <b>Tener en cuenta:</b>
        <p>Los viaticos solo se solicita cuando las visitas son fuera de la ciudad
        de residencia de la persona que entrevista. <br> Recuerde que se pagan segun tarifas
        de transporte publico e intermunicipal</p>
      </div>
      <table class="table table-striped table-bordered">
        <tr>
          <td>Seleccione</td>
          <td>Fecha de creación</td>
          <td>Recorrido</td>
          <td>Cantidad</td>
          <td>Estado</td>
        </tr>
        <tr *ngFor="let item of viaticos">
          <td><input type="radio" [value]="item.id"></td>
          <td>{{ item.fechaCreacion }}</td>
          <td>{{ item.origen + item.destino }}</td>
          <td>{{ item.tarifa }}</td>
          <td>{{ item.estado }}</td>
        </tr>
      </table>
    </div>
  </div>
</div>

<ng-template #mdRecorridos let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Recorridos</h4>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="origen">Lugar de órigen</label>
      <input type="text" class="form-control" id="origen" placeholder="Ingrese el origen. Ej: Bogota">
    </div>
    <div class="form-group">
      <label for="destino">Lugar de destino</label>
      <input type="text" class="form-control" id="destino" placeholder="Ingrese el destino. Ej: Mosquera">
    </div>
    <div class="form-group">
      <label for="tarifa">Tarifa</label>
      <input type="number" class="form-control" id="tarifa" placeholder="Ej: 5000">
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-success">
      <i class="fa fa-plus" (click)="addViatico()"></i>
      Crear recorrido
    </button>
    <button class="btn btn-dark" (click)="modal.close()">
      Cerrar
    </button>
  </div>
</ng-template>
