<table class="table table-bordered table-hover table-sm">
  <thead>
    <tr class="text-capitalize">
      <th>centro de costo</th>
      <th>fecha creación</th>
      <th>lugar de desarrollo</th>
      <th>solicitante</th>
      <th>Servicio solicitado</th>
      <th>actividades</th>
      <th>estado</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of servicios">
      <td> {{ item.centro_costo.id }} </td>
      <td> {{ item.fecha_creacion | date }} </td>
      <td> {{ item.lugar_desarrollo }} </td>
      <td> {{ item.centro_costo.solicitante }} </td>
      <td>
        <div *ngIf="item.tipo_servicio === 'esp'" >
          <div class="form-group text-center">
            <button class="btn btn-info text-center" (click)="verDetalle(item)">
              <i class="fa fa-eye"></i>
              ESP
            </button>
          </div>
        </div>
      </td>
      <td>
        <div class="form-group text-center">
          <button class="btn btn-danger text-center" (click)="verActividades(mdActividad, item.id)">
            <i class="fa fa-eye"></i>
            Ver
          </button>
        </div>
      </td>
      <td>
        <div [ngSwitch]="item.estado">
          <button *ngSwitchCase="'proceso'" class="btn btn-sm btn-warning">
            <i class="fa fas-exclamation"></i>
            {{ item.estado }} </button>
          <button *ngSwitchCase="'completado'" class="btn btn-sm btn-warning"> {{ item.estado }} </button>
          <button *ngSwitchCase="'alerta'" class="btn btn-sm btn-danger" placement="top" ngbTooltip="Comunicarse con Tss">
            {{ item.estado }}
          </button>
          <button *ngSwitchCase="'finalizado'" class="btn btn-sm btn-success"> {{ item.estado }} </button>
        </div>
      </td>
      <td>

      </td>
    </tr>
  </tbody>
</table>


<ng-template #mdActividad let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalVerticalLabel">Actividades Aplicadas</h5>
    <button type="button" class="close" (click)="modal.close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <ul class="list-group">
      <li class="list-group-item">
        <div class="row">
          <div class="col-sm-6">
            <span>Actividad</span>
          </div>  
          <div class="col-sm-6 text-right">
            <span>Estado</span>
          </div>
        </div>
      </li>
      <li class="list-group-item" *ngFor="let actividad of actividades">
        <div class="row">
          <div class="col-sm-6">
            <div *ngIf="actividad.codigo === 'VDS'; else sinLink;">
                <button class="btn btn-link" (click)="open(mdFreelance, actividad)">{{ actividad.nombre }}</button>
            </div>
            <ng-template #sinLink>
                <a >{{ actividad.nombre }}</a>
            </ng-template>
          </div>
          <div class="col-sm-6 text-right">
            <div [ngSwitch]="actividad.estado">
              <div *ngSwitchCase="'cargado'">
                <span class="badge badge-pill service-loaded"> {{ actividad.estado }} </span>
              </div>
              <div *ngSwitchCase="'asignado'">
                <span class="badge badge-pill service-asigned"> {{ actividad.estado }} </span>
              </div>
              <div *ngSwitchCase="'aceptado'">
                <span class="badge badge-pill service-acepted"> {{ actividad.estado }} </span>
              </div>
              <div *ngSwitchCase="'proceso'">
                <span class="badge badge-pill service-process"> {{ actividad.estado }} </span>
              </div>
              <div *ngSwitchCase="'completado'">
                <span class="badge badge-pill service-finished"> {{ actividad.estado }} </span>
              </div>
              <div *ngSwitchCase="'alerta'">
                <span class="badge badge-pill  badge-danger"> {{ actividad.estado }} </span>
              </div>
              <div *ngSwitchCase="'finalizado'">
                <span class="badge badge-pill  badge-success"> {{ actividad.estado }} </span>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close()">Cerrar</button>
  </div>
</ng-template>


<ng-template #mdFreelance let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Actividades Aplicadas</h5>
    <button type="button" class="close" (click)="modal.close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="freelance">Seleccionar freelance</label>
      <select name="freelance" id="freelance" class="form-control" [(ngModel)]="freelanceModel.freelance_id">
        <option [selected]="true">Seleccione una opcion</option>
        <option *ngFor="let item of freelances" [value]="item.id">{{ item.nombre }}</option>
      </select>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-outline-primary" [disabled]="freelanceModel.freelance_id == 0" (click)="asignarFreelance()">Asignar Visita domiciliaria</button>
  </div>
</ng-template>

