<div class="mx-auto animated fade-in">
  <form [formGroup]="form">
    <div class="card">
      <div class="card-header bg-white">
        <h4>Visita domiciliaria de seguridad</h4>
      </div>
      <div class="card-body bg-light">
        <!--<div class="card">


          <div class="card-body ">
            <b class="card-title">Información personal</b>
            <hr>

            <div class="form-group row">
              <label class="col-sm-3 col-form-label" for="nombreEvaluado">Nombre del evaluado</label>
              <div class="col-sm-9">
                <input type="text" class="form-control"
                       id="nombreEvaluado"
                       name="nombreEvaluado"
                       formControlName="nombreEvaluado"
                       placeholder="Ingrese el nombre del evaluado"
                       required>
                <div class="ng-invalid-feedback"
                     *ngIf="(form.controls['nombreEvaluado'].invalid &&
                     form.controls['nombreEvaluado'].dirty)">
                  El campo es requerido
                </div>
              </div>
            </div>


            <div class="form-group row">
              <label class="col-sm-3 col-form-label" for="documentoIdentidad">Documento de identidad</label>
              <div class="col-sm-9">
                <input type="number" class="form-control"
                       id="documentoIdentidad"
                       name="documentoIdentidad"
                       formControlName="documentoIdentidad"
                       placeholder="Ingrese el documento de identidad"
                       required>
                <div class="ng-invalid-feedback"
                     *ngIf="(form.controls['documentoIdentidad'].invalid &&
                     form.controls['documentoIdentidad'].dirty)">
                  El campo es requerido
                </div>
              </div>
            </div>



            <div class="form-group row">
              <label class="col-sm-3 col-form-label" for="fechaExpedicion">Fecha Expedición</label>
              <div class="col-sm-9">
                <input type="date" class="form-control"
                       id="fechaExpedicion"
                       name="fechaExpedicion"
                       formControlName="fechaExpedicion"
                       required>
                <div class="ng-invalid-feedback"
                     *ngIf="(form.controls['fechaExpedicion'].invalid &&
                     form.controls['fechaExpedicion'].dirty)">
                  El campo es requerido
                </div>
              </div>
            </div>


            <div class="form-group row">
              <label class="col-sm-3 col-form-label" for="lugarExpedicion">Lugar Expedición	</label>
              <div class="col-sm-9">
                <input type="text" class="form-control"
                       id="lugarExpedicion"
                       name="lugarExpedicion"
                       formControlName="lugarExpedicion"
                       placeholder="Lugar de expedicion del documento"
                       required>
                <div class="ng-invalid-feedback"
                     *ngIf="(form.controls['lugarExpedicion'].invalid &&
                     form.controls['lugarExpedicion'].dirty)">
                  El campo es requerido
                </div>
              </div>
            </div>



            <div class="form-group row">
              <label class="col-sm-3 col-form-label" for="fechaNacimiento">Fecha de Nacimiento</label>
              <div class="col-sm-9">
                <input type="date" class="form-control"
                       id="fechaNacimiento"
                       name="fechaNacimiento"
                       formControlName="fechaNacimiento"
                       required>
                <div class="ng-invalid-feedback"
                     *ngIf="(form.controls['fechaNacimiento'].invalid &&
                     form.controls['fechaNacimiento'].dirty)">
                  El campo es requerido
                </div>
              </div>
            </div>


            <div class="form-group row">
              <label class="col-sm-3 col-form-label" for="lugarNacimiento">Lugar de Nacimiento</label>
              <div class="col-sm-9">
                <input type="text" class="form-control"
                       id="lugarNacimiento"
                       name="lugarNacimiento"
                       formControlName="lugarNacimiento"
                       placeholder="Ingrese el lugar de nacimiento"
                       required>
                <div class="ng-invalid-feedback"
                     *ngIf="(form.controls['lugarExpedicion'].invalid &&
                     form.controls['lugarExpedicion'].dirty)">
                  El campo es requerido
                </div>
              </div>
            </div>



            <div class="form-group row">
              <label class="col-sm-3 col-form-label" for="edad">Edad</label>
              <div class="col-sm-9">
                <input type="number" class="form-control"
                       id="edad"
                       name="edad"
                       formControlName="edad"
                       placeholder="Ingrese la edad"
                       required #edad>
                <div *ngIf="(form.controls['edad'].invalid)">
                  <div class="ng-invalid-feedback" *ngIf="(form.controls['edad'].dirty && form.controls['edad'].value == null)">
                    El campo es requerido
                  </div>
                  <div class="ng-invalid-feedback" *ngIf="(form.controls['edad'].dirty && form.controls['edad'].value != null)">
                    Ingrese un dato valido
                  </div>
                </div>
              </div>
            </div>



            <div class="form-group row">
              <label class="col-sm-3 col-form-label" for="libretaMilitar">Libreta Militar</label>
              <div class="col-sm-9">
                <input type="number" class="form-control"
                       id="libretaMilitar"
                       name="libretaMilitar"
                       formControlName="libretaMilitar"
                       placeholder="Ingrese la libreta Militar"
                       required>
                <div class="ng-invalid-feedback"
                     *ngIf="(form.controls['libretaMilitar'].invalid &&
                     form.controls['libretaMilitar'].dirty)">
                  El campo es requerido
                </div>
              </div>
            </div>



            <div class="form-group row">
              <label class="col-sm-3 col-form-label" for="claseDistrito">Clase - Distrito	</label>
              <div class="col-sm-9">
                <input type="text" class="form-control"
                       id="claseDistrito"
                       name="claseDistrito"
                       formControlName="claseDistrito"
                       placeholder="Ingrese la clase distrito"
                       required>
                <div class="ng-invalid-feedback"
                     *ngIf="(form.controls['claseDistrito'].invalid &&
                     form.controls['claseDistrito'].dirty)">
                  El campo es requerido
                </div>
              </div>
            </div>



            <div class="form-group row">
              <label class="col-sm-3 col-form-label" for="licenciaConduccion">Licencia de conducción</label>
              <div class="col-sm-9">
                <input type="text" class="form-control"
                       id="licenciaConduccion"
                       name="licenciaConduccion"
                       formControlName="licenciaConduccion"
                       placeholder="Ingrese la licencia de conducción"
                       required>
                <div class="ng-invalid-feedback"
                     *ngIf="(form.controls['licenciaConduccion'].invalid &&
                     form.controls['licenciaConduccion'].dirty)">
                  El campo es requerido
                </div>
              </div>
            </div>



            <div class="form-group row">
              <label class="col-sm-3 col-form-label" for="categoriaClase">Categoría - Clase	</label>
              <div class="col-sm-9">
                <input type="text" class="form-control"
                       id="categoriaClase"
                       name="categoriaClase"
                       formControlName="categoriaClase"
                       placeholder="Ingrese la categoría - Clase"
                       required>
                <div class="ng-invalid-feedback"
                     *ngIf="(form.controls['categoriaClase'].invalid &&
                     form.controls['categoriaClase'].dirty)">
                  El campo es requerido
                </div>
              </div>
            </div>



            <div class="form-group row">
              <label class="col-sm-3 col-form-label" for="estadoCivil">Estado Civil</label>
              <div class="col-sm-9">
                <input type="text" class="form-control"
                       id="estadoCivil"
                       name="estadoCivil"
                       formControlName="estadoCivil"
                       placeholder="Ingrese el estado Civil"
                       required>
                <div class="ng-invalid-feedback"
                     *ngIf="(form.controls['estadoCivil'].invalid &&
                     form.controls['estadoCivil'].dirty)">
                  El campo es requerido
                </div>
              </div>
            </div>



            <div class="form-group row">
              <label class="col-sm-3 col-form-label" for="celular">Celular</label>
              <div class="col-sm-9">
                <input type="number" class="form-control"
                       id="celular"
                       name="celular"
                       formControlName="celular"
                       placeholder="Ingrese el número de celular"
                       required>
                <div class="ng-invalid-feedback"
                     *ngIf="(form.controls['celular'].invalid &&
                     form.controls['celular'].dirty)">
                  El campo es requerido
                </div>
              </div>
            </div>



            <div class="form-group row">
              <label class="col-sm-3 col-form-label" for="telefono">Teléfono</label>
              <div class="col-sm-9">
                <input type="number" class="form-control"
                       id="telefono"
                       name="telefono"
                       formControlName="telefono"
                       placeholder="Ingrese el número de teléfono"
                       required>
                <div class="ng-invalid-feedback"
                     *ngIf="(form.controls['telefono'].invalid &&
                     form.controls['telefono'].dirty)">
                  El campo es requerido
                </div>
              </div>
            </div>



            <div class="form-group row">
              <label class="col-sm-3 col-form-label" for="direccionActual">Dirección Actual</label>
              <div class="col-sm-9">
                <input type="text" class="form-control"
                       id="direccionActual"
                       name="direccionActual"
                       formControlName="direccionActual"
                       placeholder="Ingrese la dirección actual"
                       required>
                <div class="ng-invalid-feedback"
                     *ngIf="(form.controls['direccionActual'].invalid &&
                     form.controls['direccionActual'].dirty)">
                  El campo es requerido
                </div>
              </div>
            </div>



            <div class="form-group row">
              <label class="col-sm-3 col-form-label" for="barrio">Barrio</label>
              <div class="col-sm-9">
                <input type="text" class="form-control"
                       id="barrio"
                       name="barrio"
                       formControlName="barrio"
                       placeholder="Ingrese el barrio"
                       required>
                <div class="ng-invalid-feedback"
                     *ngIf="(form.controls['barrio'].invalid &&
                     form.controls['barrio'].dirty)">
                  El campo es requerido
                </div>
              </div>
            </div>



            <div class="form-group row">
              <label class="col-sm-3 col-form-label" for="localidad">Localidad</label>
              <div class="col-sm-9">
                <input type="text" class="form-control"
                       id="localidad"
                       name="localidad"
                       formControlName="localidad"
                       placeholder="Ingrese la localidad"
                       required>
                <div class="ng-invalid-feedback"
                     *ngIf="(form.controls['localidad'].invalid &&
                     form.controls['localidad'].dirty)">
                  El campo es requerido
                </div>
              </div>
            </div>



            <div class="form-group row">
              <label class="col-sm-3 col-form-label" for="ciudad">Ciudad</label>
              <div class="col-sm-9">
                <input type="text" class="form-control"
                       id="ciudad"
                       name="ciudad"
                       formControlName="ciudad"
                       placeholder="Ingrese la ciudad"
                       required>
                <div class="ng-invalid-feedback"
                     *ngIf="(form.controls['ciudad'].invalid &&
                     form.controls['ciudad'].dirty)">
                  El campo es requerido
                </div>
              </div>
            </div>



            <div class="form-group row">
              <label class="col-sm-3 col-form-label" for="email">E-Mail</label>
              <div class="col-sm-9">
                <input type="email" class="form-control"
                       id="email"
                       name="email"
                       formControlName="email"
                       placeholder="Ingrese el e-mail"
                       required #email>
                <div *ngIf="form.controls['email'].invalid">
                  <div class="ng-invalid-feedback"
                       *ngIf="(email.value == '' && form.controls['email'].dirty)">
                    El campo es requerido
                  </div>
                  <div class="ng-invalid-feedback"
                       *ngIf="(email.value != '' && form.controls['email'].dirty)">
                    Ingrese un correo valido
                  </div>
                </div>
              </div>
            </div>


          </div>
        </div>-->


        <!-- verificacion documental card -->
        <div class="card mt-3">
          <div class="card-body ">
            <b class="card-title">Verificación documental</b>
            <hr>
            <!-- is cedula -->
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Cedula de ciudadania:</label>
              <div class="col-sm-8">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio"
                         name="documento" id="isDocumentoy"
                         [value]="true" formControlName="documento">
                  <label class="form-check-label" for="isDocumentoy">Si</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio"
                         name="documento" id="isDocumenton"
                         [value]="false" formControlName="documento">
                  <label class="form-check-label" for="isDocumenton">No</label>
                </div>
              </div>
            </div>


            <!-- is libreta militar -->
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Libreta militar:</label>
              <div class="col-sm-8">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio"
                         name="libretaMilitar" id="isLibretaMilitary"
                         [value]="true" formControlName="libretaMilitar">
                  <label class="form-check-label" for="isLibretaMilitary">Si</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio"
                         name="libretaMilitar" id="isLibretaMilitarn"
                         [value]="false" formControlName="libretaMilitar">
                  <label class="form-check-label" for="isLibretaMilitarn">No</label>
                </div>
              </div>
            </div>


            <!-- is licencia de conducion -->
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Licencia de conducción:</label>
              <div class="col-sm-8">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio"
                         name="licenciaConduccion" id="isLicenciaConducciony"
                         [value]="true" formControlName="licenciaConduccion">
                  <label class="form-check-label" for="isLicenciaConducciony">Si</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio"
                         name="licenciaConduccion" id="isLicenciaConduccionn"
                         [value]="false" formControlName="licenciaConduccion">
                  <label class="form-check-label" for="isLicenciaConduccionn">No</label>
                </div>
              </div>
            </div>


            <!-- is tarjeta profecional -->
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Tarjeta profecional:</label>
              <div class="col-sm-8">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio"
                         name="tarjetaProfesional" id="isTarjetaProfecionaly"
                         [value]="true" formControlName="tarjetaProfesional">
                  <label class="form-check-label" for="isTarjetaProfecionaly">Si</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio"
                         name="tarjetaProfesional" id="isTarjetaProfecionaln"
                         [value]="false" formControlName="tarjetaProfesional">
                  <label class="form-check-label" for="isTarjetaProfecionaln">No</label>
                </div>
              </div>
            </div>


            <!-- is Diploma bachiller -->
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Diploma bachiller:</label>
              <div class="col-sm-8">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio"
                         name="diplomaBachiller" id="isDiplomaBachillery"
                         [value]="true" formControlName="diplomaBachiller">
                  <label class="form-check-label" for="isDiplomaBachillery">Si</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio"
                         name="diplomaBachiller" id="isDiplomaBachillern"
                         [value]="false" formControlName="diplomaBachiller">
                  <label class="form-check-label" for="isDiplomaBachillern">No</label>
                </div>
              </div>
            </div>


            <!-- is Diploma tecnico -->
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Diploma tecnico:</label>
              <div class="col-sm-8">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio"
                         name="diplomaTecnico" id="isDiplomaTecnicoy"
                         [value]="true" formControlName="diplomaTecnico">
                  <label class="form-check-label" for="isDiplomaTecnicoy">Si</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio"
                         name="diplomaTecnico" id="isDiplomaTecnicon"
                         [value]="false" formControlName="diplomaTecnico">
                  <label class="form-check-label" for="isDiplomaTecnicon">No</label>
                </div>
              </div>
            </div>


            <!-- is Diploma pregrado -->
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Diploma pregrado:</label>
              <div class="col-sm-8">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio"
                         name="diplomaTecnologo" id="isDiplomaPregrado"
                         [value]="true" formControlName="diplomaTecnologo">
                  <label class="form-check-label" for="isDiplomaPregrado">Si</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio"
                         name="diplomaTecnologo" id="isDiplomaPregradon"
                         [value]="false" formControlName="diplomaTecnologo">
                  <label class="form-check-label" for="isDiplomaPregradon">No</label>
                </div>
              </div>
            </div>


            <!-- is Diploma postgrado -->
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Diploma postgrado:</label>
              <div class="col-sm-8">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio"
                         name="diplomaPregrado" id="isDiplomaPostgradoy"
                         [value]="true" formControlName="diplomaPregrado">
                  <label class="form-check-label" for="isDiplomaPostgradoy">Si</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio"
                         name="diplomaPregrado" id="isDiplomaPostgradon"
                         [value]="false" formControlName="diplomaPregrado">
                  <label class="form-check-label" for="isDiplomaPostgradon">No</label>
                </div>
              </div>
            </div>


            <!-- is Diploma cursos -->
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Diploma cursos:</label>
              <div class="col-sm-8">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio"
                         name="diplomaCursos" id="isDiplomaCursos"
                         [value]="true" formControlName="diplomaCursos">
                  <label class="form-check-label" for="isDiplomaCursos">Si</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio"
                         name="diplomaCursos" id="isDiplomaCursosn"
                         [value]="false" formControlName="diplomaCursos">
                  <label class="form-check-label" for="isDiplomaCursosn">No</label>
                </div>
              </div>
            </div>



            <!-- observaciones  -->
            <div class="form-group row">
              <label class="col-sm-3 col-form-label" for="observaciones">Observaciones</label>
              <div class="col-sm-9">
                <textarea class="form-control" name="observaciones" id="observaciones" cols="30" rows="3" formControlName="observaciones"></textarea>
                <div class="ng-invalid-feedback"
                     *ngIf="(form.controls['observaciones'].invalid &&
                     form.controls['observaciones'].dirty)">
                  El campo es requerido
                </div>
              </div>
            </div>



          </div>
        </div>

      </div>

      <!--<div class="card-footer bg-white">
        <div class="form-group text-center">
          <div class="row">
            <div class="col-md-6 mx-auto">
              <button *ngIf="permissions.FRCE && estado == 'aceptado'"
                      class="btn btn-danger"
                      [disabled]="form.invalid"
                      (click)="onSubmit()">
                <i class="fa fa-save"></i>
                Guardar
              </button>
              <button *ngIf="(permissions.FRCE && estado == 'proceso') || (permissions.AESP || permissions.ADG && estado == 'notificado')"
                      class="btn btn-warning"
                      [disabled]="form.invalid"
                      (click)="onUpdate()">
                <i class="fa fa-edit"></i>
                Actualizar
              </button>
            </div>
          </div>
        </div>
        <div *ngIf="permissions.AESP || permissions.ADG && actividad.estado == 'notificado'">
          <span class="text-primary d-block">Fecha de notificacion: {{ actividad.timestamps.fechaActualizacion.date | date:'short' }}</span>
        </div>
      </div>-->
    </div>
  </form>
</div>
