<div id="content-wrapper">
  <div class="container mt-3">
    <div class="row">
      <div class="col-md-10 mx-auto mb-3">
        <form [formGroup]="form">
          <div class="card">
            <div class="card-header">
              <h4 class="text-center">Orden de servicio</h4>
            </div>
            <div class="card-body">

              <!-- lugar Desarrollo -->
              <div class="form-group row">
                <label for="lugarDesarrollo" class="col-sm-3 col-form-label">Ciudad</label>
                <div class="col-sm-9">
                  <input type="text"
                         class="form-control"
                         id="lugarDesarrollo"
                         placeholder="Lugar de desarrollo"
                         required="required"
                         formControlName="lugar_desarrollo">
                  <div [hidden]="form.controls['lugar_desarrollo'].valid  || form.controls['lugar_desarrollo'].pristine">
                    <div class="ng-invalid-feedback">
                      El campo es requerido
                    </div>
                  </div>
                </div>
              </div>

              <!-- descripcion -->
              <div class="form-group row">
                <label for="descripcion" class="col-sm-3 col-form-label">Descripcion</label>
                <div class="col-sm-9">
                  <textarea
                    cols="30" rows="5"
                    class="form-control"
                    id="descripcion"
                    name="descripcion"
                    placeholder="Descripción de la investigacion"
                    formControlName="descripcion">
                  </textarea>
                  <div [hidden]="form.controls['descripcion'].valid  || form.controls['descripcion'].pristine">
                    <div class="ng-invalid-feedback">
                      El campo es requerido
                    </div>
                  </div>
                </div>
              </div>

              <!-- anexo -->
              <div class="form-group row">
                <label for="anexo" class="col-sm-3 col-form-label">
                  Anexo
                </label>
                <div class="col-sm-9">
                  <input type="file" id="anexo" class="form-control-file"
                         (change)="cargarArchivo($event)" #inputFile>
                  <span class="small">Si es mas de un archivo, favor adjuntar un archivo comprimido</span>

                </div>
              </div>
            </div>
            <div class="form-group mx-auto">
              <button class="btn btn-primary"
                      [disabled]="form.status == 'INVALID'"
                      (click)="crearServicio()">
                <i class="fa fa-plus"></i>
                Agregar
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div *ngIf="servicios.length > 0">
    <div class="col-md-10 mx-auto col-sm-12 mt-3">
      <div class="card mb-3">
        <div class="card-header">
          <i class="fas fa-table"></i>
          Servicios solicitados
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
              <tr class="text-capitalize text-center">
                <th>fecha de creacion</th>
                <th>detalles de investigación</th>
                <th>anexo</th>
                <th>acciónes</th>
              </tr>
              </thead>
              <tbody>

              <tr *ngFor="let item of servicios; index as i">
                <td>{{ today | date }}</td>
                <td class="text-center">
                  <button class="btn btn-sm btn-success"
                          (click)="verDetalle(mdInvestigacion, i)">
                    <i class="fa fa-eye"></i>
                    Detalles
                  </button>
                </td>
                <th>{{ item.anexo ? 'Si': 'No' }}</th>
                <td>
                  <div class="text-center">
                    <div class="custom-control-inline" >
                      <button class="btn btn-sm btn-primary"
                              (click)="verDetalle(mdInvestigacion, i, true)">
                        <i class="fa fa-edit"></i>
                        Editar
                      </button>
                    </div>
                    <div class="custom-control-inline">
                      <button class="btn btn-sm btn-danger"
                              (click)="eliminarServicio(i)">
                        <i class="fa fa-trash"></i>
                        Eliminar
                      </button>
                    </div>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer ">
          <div class="form-group text-center">
            <button class="btn btn-primary" (click)="guardarServicios()">
              <i class="fa fa-save"></i>
              Guardar servicios
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- modal -->
<ng-template #mdInvestigacion let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Detalle del servicio</h5>
    <button type="button" class="close" (click)="modal.close()">
      <span>&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <fieldset [disabled]="!control.editar">
      <!--ciudad-->
      <div class="form-group">
        <label for="m-ciudad">Ciudad</label>
        <input type="text" class="form-control" id="m-ciudad"  [(ngModel)]="servicio.ciudad">
      </div>

      <!--descripcion-->
      <div class="form-group">
        <label for="m-descripcion">Descripcion</label>
        <textarea
          rows="4"
          class="form-control"
          id="m-descripcion"
          [(ngModel)]="servicio.descripcion">
        </textarea>
      </div>

      <!--read-->
      <div *ngIf="!control.editar">
        <!-- anexo-->
        <div class="form-group" *ngIf="servicio.anexo">
          <label>Anexo</label>
          <div class="d-block">
            <i class="fa fa-file"></i>
            {{ servicio.anexo.fileName }}
          </div>
        </div>
      </div>

      <!--write-->
      <div *ngIf="control.editar">
        <!-- anexo -->
        <div class="form-group">
          <label for="m-anexo" class="tooltip">
            Anexo
          </label>

          <input type="file" id="m-anexo" (change)="cargarArchivo($event, true)" class="form-control-file">
        </div>
      </div>

    </fieldset>
  </div>
  <div class="modal-footer">
    <button *ngIf="control.editar"
            class="btn btn-success mr-2" (click)="guardarCambios(modal)">
      <i class="fa fa-save"></i>
      Guardar
    </button>
    <button class="btn btn-secondary" (click)="modal.close()">
      <i class="fa fa-close"></i>
      Cerrar
    </button>
  </div>
</ng-template>
