<div class="card-header bg-white">
  <h4 class="text-center">Estudio de seguridad</h4>
</div>
<div class="card-body bg-light">

  <!-- Informacion personal card-->
  <div [formGroup]="form" class="col-md-10 mx-auto card card-body mb-4">
    <b class="card-title">Información personal</b>
    <hr>
    <!-- nombres -->
    <div class="form-group row">
      <label class="col-sm-4 col-form-label" for="nombre">
        Nombres
      </label>
      <div class="col-sm-8">
        <input type="text" class="form-control"
               id="nombre"
               formControlName="nombre"
               required>
        <div class="ng-invalid-feedback"
             *ngIf="(form.get('nombre').invalid && form.get('nombre').dirty)">
          El campo es requerido
        </div>
      </div>
    </div>

    <!-- Documento -->
    <div class="form-group row">
      <label class="col-sm-4 col-form-label" for="documento">
        Documento
      </label>
      <div class="col-sm-8">
        <input type="text" class="form-control"
               id="documento"
               formControlName="documento"
               required>
        <div [hidden]="form.get('documento').valid || form.get('documento').pristine">
          <div class="ng-invalid-feedback">
            El campo es requerido
          </div>
        </div>
      </div>
    </div>

    <!-- fecha expedicion -->
    <div class="form-group row">
      <label class="col-sm-4 col-form-label" for="fechaExpedicion">
        Fecha de expedicion
      </label>
      <div class="col-sm-8">
        <input type="date" class="form-control"
               id="fechaExpedicion"
               formControlName="fechaExpedicion"
               required>
        <div [hidden]="form.get('fechaExpedicion').valid || form.get('fechaExpedicion').pristine">
          <div class="ng-invalid-feedback">
            El campo es requerido
          </div>
        </div>
      </div>
    </div>

    <!-- Lugar de expedicion -->
    <div class="form-group row">
      <label class="col-sm-4 col-form-label" for="lugarExpedicion">
       Lugar de expedicion
      </label>
      <div class="col-sm-8">

        <input type="text" class="form-control"
               id="lugarExpedicion"
               formControlName="lugarExpedicion"
               required>
        <div [hidden]="form.get('lugarExpedicion').valid || form.get('lugarExpedicion').pristine">
          <div class="ng-invalid-feedback">
            El campo es requerido
          </div>
        </div>
      </div>
    </div>

    <!-- Libreta militar -->
    <div class="form-group row">
      <label class="col-sm-4 col-form-label" for="libretaMilitar">
        Libreta militar
      </label>
      <div class="col-sm-8">

        <input type="number" class="form-control"
               id="libretaMilitar"
               formControlName="libretaMilitar"
               required>
        <div [hidden]="form.get('libretaMilitar').valid || form.get('libretaMilitar').pristine">
          <div class="ng-invalid-feedback">
            El campo es requerido
          </div>
        </div>
      </div>
    </div>

    <!-- Lugar de nacimiento -->
    <div class="form-group row">
      <label class="col-sm-4 col-form-label" for="lugarNacimiento">
        Lugar de nacimiento
      </label>
      <div class="col-sm-8">

        <input type="text" class="form-control"
               id="lugarNacimiento"
               formControlName="lugarNacimiento"
               required>
        <div [hidden]="form.get('lugarNacimiento').valid || form.get('lugarNacimiento').pristine">
          <div class="ng-invalid-feedback">
            El campo es requerido
          </div>
        </div>
      </div>
    </div>

    <!-- Fecha de nacimiento -->
    <div class="form-group row">
      <label class="col-sm-4 col-form-label" for="fechaNacimiento">
        Fecha de nacimiento
      </label>
      <div class="col-sm-8">

        <input type="date" class="form-control"
               id="fechaNacimiento"
               formControlName="fechaNacimiento"
               required>
        <div [hidden]="form.get('fechaNacimiento').valid || form.get('fechaNacimiento').pristine">
          <div class="ng-invalid-feedback">
            El campo es requerido
          </div>
        </div>
      </div>
    </div>

    <!-- Edad -->
    <div class="form-group row">
      <label class="col-sm-4 col-form-label" for="edad">
        Edad
      </label>
      <div class="col-sm-8">

        <input type="text" class="form-control"
               id="edad"
               formControlName="edad"
               required>
        <div [hidden]="form.get('edad').valid || form.get('edad').pristine">
          <div class="ng-invalid-feedback">
            El campo es requerido
          </div>
        </div>
      </div>
    </div>

    <!-- Direccion de residencia -->
    <div class="form-group row">
      <label class="col-sm-4 col-form-label" for="direccionResidencia">
        Direccion de residencia
      </label>
      <div class="col-sm-8">

        <input type="text" class="form-control"
               id="direccionResidencia"
               formControlName="direccionResidencia"
               required>
        <div [hidden]="form.get('direccionResidencia').valid || form.get('direccionResidencia').pristine">
          <div class="ng-invalid-feedback">
            El campo es requerido
          </div>
        </div>
      </div>
    </div>

    <!-- Barrio -->
    <div class="form-group row">
      <label class="col-sm-4 col-form-label" for="barrio">
        Barrio
      </label>
      <div class="col-sm-8">

        <input type="text" class="form-control"
               id="barrio"
               formControlName="barrio"
               required>
        <div [hidden]="form.get('barrio').valid || form.get('barrio').pristine">
          <div class="ng-invalid-feedback">
            El campo es requerido
          </div>
        </div>
      </div>
    </div>

    <!-- Localidad -->
    <div class="form-group row">
      <label class="col-sm-4 col-form-label" for="localidad">
        Localidad
      </label>
      <div class="col-sm-8">

        <input type="text" class="form-control"
               id="localidad"
               formControlName="localidad"
               required>
        <div [hidden]="form.get('localidad').valid || form.get('localidad').pristine">
          <div class="ng-invalid-feedback">
            El campo es requerido
          </div>
        </div>
      </div>
    </div>

    <!-- Ciudad -->
    <div class="form-group row">
      <label class="col-sm-4 col-form-label" for="ciudad">
        Ciudad
      </label>
      <div class="col-sm-8">

        <input type="text" class="form-control"
               id="ciudad"
               formControlName="ciudad"
               required>
        <div [hidden]="form.get('ciudad').valid || form.get('ciudad').pristine">
          <div class="ng-invalid-feedback">
            El campo es requerido
          </div>
        </div>
      </div>
    </div>

    <!-- Telefono -->
    <div class="form-group row">
      <label class="col-sm-4 col-form-label" for="telefono">
        Telefono
      </label>
      <div class="col-sm-8">

        <input type="number" class="form-control"
               id="telefono"
               formControlName="telefono"
               required>
        <div [hidden]="form.get('telefono').valid || form.get('telefono').pristine">
          <div class="ng-invalid-feedback">
            El campo es requerido
          </div>
        </div>
      </div>
    </div>

    <!-- Celular -->
    <div class="form-group row">
      <label class="col-sm-4 col-form-label" for="celular">
        Celular
      </label>
      <div class="col-sm-8">

        <input type="text" class="form-control"
               id="celular"
               formControlName="celular"
               required>
        <div [hidden]="form.get('celular').valid || form.get('celular').pristine">
          <div class="ng-invalid-feedback">
            El campo es requerido
          </div>
        </div>
      </div>
    </div>

    <!-- Estado civil -->
    <div class="form-group row">
      <label class="col-sm-4 col-form-label" for="estadoCivil">
        Estado civil
      </label>
      <div class="col-sm-8">

        <input type="text" class="form-control"
               id="estadoCivil"
               formControlName="estadoCivil"
               required>
        <div [hidden]="form.get('estadoCivil').valid || form.get('estadoCivil').pristine">
          <div class="ng-invalid-feedback">
            El campo es requerido
          </div>
        </div>
      </div>
    </div>

    <!-- Correo electronico -->
    <div class="form-group row">
      <label class="col-sm-4 col-form-label" for="correo">
        Correo electronico
      </label>
      <div class="col-sm-8">

        <input type="text" class="form-control"
               id="correo"
               formControlName="correo"
               required>
        <div [hidden]="form.get('correo').valid || form.get('correo').pristine">
          <div class="ng-invalid-feedback">
            El campo es requerido
          </div>
        </div>
      </div>
    </div>

    <!-- Licencia de conduccion -->
    <div class="form-group row">
      <label class="col-sm-4 col-form-label" for="licenciaConduccion">
        Licencia de conduccion
      </label>
      <div class="col-sm-8">

        <input type="text" class="form-control"
               id="licenciaConduccion"
               formControlName="licenciaConduccion"
               required>
        <div [hidden]="form.get('licenciaConduccion').valid || form.get('licenciaConduccion').pristine">
          <div class="ng-invalid-feedback">
            El campo es requerido
          </div>
        </div>
      </div>
    </div>

    <!-- Categoria o clase -->
    <div class="form-group row">
      <label class="col-sm-4 col-form-label" for="categoriaClase">
        Categoria o clase
      </label>
      <div class="col-sm-8">

        <input type="text" class="form-control"
               id="categoriaClase"
               formControlName="categoriaClase"
               required>
        <div [hidden]="form.get('categoriaClase').valid || form.get('categoriaClase').pristine">
          <div class="ng-invalid-feedback">
            El campo es requerido
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- Estado de salud-->
  <div [formGroup]="formEstadoSalud" class="col-md-10 mx-auto card card-body mb-4">
    <b class="card-title">Estado de salud</b>
    <hr>

    <!-- toma medicamentos -->
    <div class="form-group row">
      <label class="col-sm-4 col-form-label" for="tomaMedicamentos">
        ¿Toma medicamentos en la actualidad?
      </label>
      <div class="col-sm-8">
        <input type="text" class="form-control"
               id="tomaMedicamentos"
               formControlName="tomaMedicamentos"
               required>
        <div class="ng-invalid-feedback"
             *ngIf="(formEstadoSalud.controls['tomaMedicamentos'].invalid &&
           formEstadoSalud.controls['tomaMedicamentos'].dirty)">
          El campo es requerido
        </div>
      </div>
    </div>

    <!-- sufre enfermedades -->
    <div class="form-group row">
      <label class="col-sm-4 col-form-label" for="sufreEnfermedades">
        ¿Sufre alguna Enfermedad?
      </label>
      <div class="col-sm-8">
        <input type="text" class="form-control"
               id="sufreEnfermedades"
               formControlName="sufreEnfermedades">
        <div class="ng-invalid-feedback"
             *ngIf="(formEstadoSalud.controls['sufreEnfermedades'].invalid &&
           formEstadoSalud.controls['sufreEnfermedades'].dirty)">
          El campo es requerido
        </div>
      </div>
    </div>

    <!-- tratamiento psicologico -->
    <div class="form-group row">
      <label class="col-sm-4 col-form-label" for="tratamientoPsicologico">
        ¿Ha sido sometido a algún tipo de tratamiento psicológico?
      </label>
      <div class="col-sm-8">
        <input type="text" class="form-control"
               id="tratamientoPsicologico"
               formControlName="tratamientoPsicologico">
        <div class="ng-invalid-feedback"
             *ngIf="(formEstadoSalud.controls['tratamientoPsicologico'].invalid &&
           formEstadoSalud.controls['tratamientoPsicologico'].dirty)">
          El campo es requerido
        </div>
      </div>
    </div>

  </div>

  <!-- Habitos en salud-->
  <div [formGroup]="formHabitosSalud" class="col-md-10 mx-auto card card-body mb-4">
    <b class="card-title">Habitos de salud</b>
    <hr>

    <!-- fuma -->
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">¿Fuma?</label>
      <div class="col-sm-8">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio"
                 name="fuma" id="fuma"
                 [value]="true" formControlName="fuma">
          <label class="form-check-label" for="fuma">Si</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio"
                 name="fuma" id="fuman"
                 [value]="false" formControlName="fuma">
          <label class="form-check-label" for="fuman">No</label>
        </div>
      </div>
    </div>

    <!-- ¿Consume bebidas alcohólicas? -->
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">¿Consume bebidas alcohólicas?</label>
      <div class="col-sm-8">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio"
                 name="consumeAlcohol" id="consumeAlcohol"
                 [value]="true" formControlName="consumeAlcohol">
          <label class="form-check-label" for="consumeAlcohol">Si</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio"
                 name="consumeAlcohol" id="consumeAlcoholn"
                 [value]="false" formControlName="consumeAlcohol">
          <label class="form-check-label" for="consumeAlcoholn">No</label>
        </div>
      </div>
    </div>

    <!-- ¿Consume sustancias psicoactivas?	-->
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">¿Consume sustancias psicoactivas?</label>
      <div class="col-sm-8">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio"
                 name="consumeDrogas" id="consumeDrogas"
                 [value]="true" formControlName="consumeDrogas">
          <label class="form-check-label" for="consumeDrogas">Si</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio"
                 name="consumeDrogas" id="consumeDrogasn"
                 [value]="false" formControlName="consumeDrogas">
          <label class="form-check-label" for="consumeDrogasn">No</label>
        </div>
      </div>
    </div>

    <!-- ¿Realiza algún deporte? -->
    <div class="form-group row">
      <label class="col-sm-3 col-form-label" for="realizaDeporte">¿Realiza algún deporte?</label>
      <div class="col-sm-9">
        <textarea class="form-control"
                  id="realizaDeporte" name="realizaDeporte"
                  formControlName="realizaDeporte" rows="3"
                  placeholder="Ingresé los deportes que practica">

        </textarea>
      </div>
    </div>

    <!-- ¿Qué actividades realiza en su tiempo libre? -->
    <div class="form-group row">
      <label class="col-sm-3 col-form-label" for="hobbies">¿Qué actividades realiza en su tiempo libre?</label>
      <div class="col-sm-9">
        <textarea class="form-control"
                  id="hobbies" name="hobbies"
                  formControlName="hobbies" rows="3"
                  placeholder="Ingresé las actividades que realiza">

        </textarea>
      </div>
    </div>
  </div>
</div>
<div class="card-footer bg-white">
  <button class="btn btn-primary" (click)="saveAll()">Guardar</button>

</div>
