<div [ngSwitch]="field['fieldType']">

  <!-- case date -->
  <div *ngSwitchCase="'date'" class="d-block">
    {{ field['content'] | date }}
  </div>

  <!-- case text -->
  <div *ngSwitchCase="'text'" class="d-block text-capitalize">
    {{ field['content'] }}
  </div>

  <!-- case buttons -->
  <div *ngSwitchCase="'button'" class="d-block">
    <div *ngFor="let button of field['buttons']">
      <button class="btn" [ngClass]="button.color">
        <i class="fa" [ngClass]="button.icon"></i>
        {{ button.text }}
      </button>
    </div>
  </div>

  <!-- case inputs -->
  <div *ngSwitchCase="'input'" class="form-group">

    <div [ngSwitch]="field['inputType']">

      <!-- case text -->
      <div *ngSwitchCase="'text'">
        <div class="form-group">
          <input type="text" class="form-control"
                 [placeholder]="field['placeholder']"
                 #inputText
                 (keyup)="onKeyUp(inputText.value)">
        </div>
      </div>

      <!-- case number -->
      <div *ngSwitchCase="'number'">
        <input type="number" class="form-control"
               [placeholder]="field['placeholder']">
      </div>

      <!-- case radio -->
      <div *ngSwitchCase="'radio'">
        <div class="col-sm-12">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio"
                   [name]="field.name" id="yes"
                   [value]="true">
            <label class="form-check-label" for="yes">Si</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio"
                   [name]="field.name" id="no"
                   [value]="false">
            <label class="form-check-label" for="no">No</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

